<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
         <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition>
            <footer>
                <ul class="navifooter">
                    <li>
                        <a href="/huong-dan-mua-hang">Hướng dẫn mua online</a>
                        <a href="/tra-gop">Hướng dẫn mua trả góp</a>
                        <a href="/bao-hanh">Bảo hành, đổi trả</a>
                    </li>
                    <li>
                        <a href="http://mwg.vn/">Giới thiệu công ty</a>
                        <a href="/he-thong-sieu-thi-the-gioi-di-dong">Xem 688 Siêu thị</a>
                        <a href="/lien-he">Góp ý, khiếu nại</a>
                    </li>
                    <li>
                        <div>Gọi mua hàng <b>1800.1060</b> (7:30 - 22:00)</div>
                        <div>Gọi khiếu nại <b>1800.1062</b> (8:00 - 21:30)</div>
                        <div>Gọi bảo hành <b>1800.1064</b> (8:00 - 21:00)</div>
                    </li>
                    <li>
                        <div class="socail">
                            <a href="#" target="_blank" class="fb"><i class="icontgdd-fb"></i>&nbsp;2.1tr</a>
                            <a target="_blank" href="#" class="yt"><i class="icontgdd-yt"></i>&nbsp;50.8k</a>
                        </div>
                    </li>
                </ul>
                <div class="copy">
                    <div class="copyright">
                        © 2015. Công ty cổ phần Thế Giới Di Động. 
                        Văn phòng:Lầu 5 Etown 2, 364 Cộng Hòa, Q.Tân Bình, TP.Hồ Chí Minh.
                        GP số 22/GP-ICP-STTTT do Sở TTTT TP HCM cấp ngày 20/03/2012
                        Chịu trách nhiệm nội dung: Điêu Chính Hải Triều
                    </div>
                </div>
            </footer>
        
        </ui:composition>
    </h:body>
</html>

