<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
            <div id="header">
                <div class="container">
                    <a href="homepage_1.xhtml" class="header_logo"></a>
                    <div class="header_slogan"><b>10 NĂM LIỀN DẪN ĐẦU DOANH SỐ BÁN LẺ MÁY TÍNH TẠI ĐÀ NẴNG </b>
                        <span style="color: #B61014;text-Shadow: 0 0 1px rgba(182,16,20,1);">(2005 - 2014)</span></div>
                    <div class="header_top_menu hidden-xs">
                        <a href="cart.xhtml" class="shopping_cart_btn">Giỏ hàng&nbsp;<span>(<label class="cart_count">#{cartBean.getSizeCart()}</label>)</span></a>
                        <div class="split_line"></div>
                        <a href="#" class="promotion_btn">Khuyến mãi</a>
                        <div class="split_line"></div>
                        <a href="tel:0511 3.888.000" class="hotline_btn">0511 3 888 000</a>
                    </div>
                </div>
            </div>

                <h:panelGroup rendered="#{!userBean.checkSession()}">
                <div class="header_menu_bg hidden-xs">
                    <div class="container">
                        <!--Main Menu Bg Start-->
                        <div class="main_menu_bg">
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('laptop')}" value="Laptop">
                                    <f:param name="cate" value="laptop"/>
                                </h:commandLink>
                            </div>
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('điện thoại')}" value="Điện thoại">
                                    <f:param name="cate" value="dienthoai"/>
                                </h:commandLink>
                            </div>
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('máy tính bảng')}" value="Máy tính bảng">
                                    <f:param name="cate" value="maytinhbang"/>
                                </h:commandLink>
                            </div>      
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('phụ kiện')}" value="Phụ kiện">
                                    <f:param name="cate" value="phukien"/>
                                </h:commandLink>
                            </div>
                        </div>
                        <div class="main_menu_bg_right">
                            <div class="main_menu_item_right">
                                <a href="login.xhtml" class="main_menu_item_link_right">Login</a>
                            </div>
                            <div class="main_menu_item_right">
                                <a href="register.xhtml" class="main_menu_item_link_right">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
                <h:panelGroup rendered="#{userBean.checkSession()}">
                <div class="header_menu_bg hidden-xs">
                    <div class="container">
                        <!--Main Menu Bg Start-->
                        <div class="main_menu_bg">
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('laptop')}" value="Laptop">
                                    <f:param name="cate" value="laptop"/>
                                </h:commandLink>
                            </div>
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('điện thoại')}" value="Điện thoại">
                                    <f:param name="cate" value="dienthoai"/>
                                </h:commandLink>
                            </div>
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('máy tính bảng')}" value="Máy tính bảng">
                                    <f:param name="cate" value="maytinhbang"/>
                                </h:commandLink>
                            </div>      
                            
                            <div class="main_menu_item">
                                <h:commandLink class="main_menu_item_link" action="#{productBean.getAllProductByCategory('phụ kiện')}" value="Phụ kiện">
                                    <f:param name="cate" value="phukien"/>
                                </h:commandLink>                                    
                            </div>
                                                    
                        </div>
                        <div class="main_menu_bg_right">
                            <div class="main_menu_item_right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                   style="margin-right: 50px;padding-top: 5px;">
                                    <div style="float: left; padding-right: 5px;padding-top: 5px;">
                                        <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}"
                                             height="40px" width="40px"
                                             class="img-circle"/>
                                    </div>
                                    <div style="float: left;padding-top: 5px;">
                                        <h:outputLabel value="#{userBean.username}"/>
                                        <br/>
                                        <p style="font-size: 10px">#{userBean.checkType()}</p>
                                    </div>
                                    <span class="caret" style="padding-top: 5px;"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" style="margin-right: 40px">
                                    <li>
                                        <h:panelGroup rendered="#{userBean.checkRole()}">
                                        <a href="http://localhost:8084/mobizi/faces/views/admin/admin_page.xhtml">
                                            <span class="glyphicon glyphicon-user"></span>Profile
                                        </a>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{!userBean.checkRole()}">
                                            <a href="http://localhost:8084/mobizi/faces/views/member_page.xhtml">
                                            <span class="glyphicon glyphicon-user"></span>Profile
                                        </a>
                                        </h:panelGroup>
                                        <h:commandLink action="#{userBean.logout()}">
                                            <span class="glyphicon glyphicon-log-out"></span>Log out
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <!--Main Menu Bg END-->
                        <!--        <div class="" title="Tìm kiếm sản phẩm">            
                                    <input type="text"  autocomplete="off" placeholder="Search" > 
                                    <input type="search" value="search"/>
                                </div>-->

                    </div>
                </div>
            </h:panelGroup>
            </h:form>
        </ui:composition>
    </h:body>
</html>

