<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../resources/custom/css_homepage.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="../../resources/custom/css_homepage.css"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
        <script src="../../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../../resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>  

        <div id="header">
            <div class="container">
                <a href="#" class="header_logo"></a>
                <div class="header_slogan"><b>10 NĂM LIỀN DẪN ĐẦU DOANH SỐ BÁN LẺ MÁY TÍNH TẠI ĐÀ NẴNG </b>
                    <span style="color: #B61014;text-Shadow: 0 0 1px rgba(182,16,20,1);">(2005 - 2014)</span></div>
                <div class="header_top_menu hidden-xs">
                    <a href="#" class="shopping_cart_btn">Giỏ hàng&nbsp;<span>(<label class="cart_count">2</label>)</span></a>
                    <div class="split_line"></div>
                    <a href="#" class="promotion_btn">Khuyến mãi</a>
                    <div class="split_line"></div>
                    <a href="tel:0511 3.888.000" class="hotline_btn">0511 3 888 000</a>
                </div>
            </div>
        </div>
        <div class="header_menu_bg hidden-xs">
            <div class="container">
                <!--Main Menu Bg Start-->
                <div class="main_menu_bg">
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link ">Laptop</a>
                    </div>
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link ">Điện thoại</a>
                    </div>
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link ">Máy tính bảng</a>
                    </div>      
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link">Desktop</a>                                       
                    </div>
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link">Phụ kiện</a>                                     
                    </div>
                    <div class="main_menu_item">
                        <a href="#" class="main_menu_item_link">Tin tức</a>                                        
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="product_detail row">
                    <div class="col-md-3 ">
                        <a href="#" class="product_detail_img"><img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-1-400x460.png" /></a>
                    </div>
                    <div class="col-md-offset-1 col-md-5">
                        <div class="product_detail_info_bg">
                            <div class="product_detail_title ">
                                <div class="title">   
                                    Iphone 5s 16GB Bạc
                                </div>
                            </div>
                            <div class="product_detail_ID">
                                Mã sản phẩm : <span>4958</span>
                            </div>
                            <div class="product_detail_price">
                                Giá : <span>15.000.000 VND</span>
                            </div>
                            <a id="" class="product_add_btn product_add_detail_btn"></a>
                            <div class="col-md-12 no_padding">

                                <div class="promotion">
                                    <div class="title">
                                        <label>Khuyến mãi</label>
                                    </div>

                                    <li>Tặng PMH Laptop &nbsp; Tablet 500.000đ (đến 30/04)</li>
                                    <li>Tặng ốp lưng chính hãng</li>
                                    <li>Thẻ nhớ 32GB + Miếng dán Màn hình</li>
                                    <li>Trả góp lãi suất 0% với HSBC(đến 30/04)</li>

                                </div>

                            </div>
                            <div class="col-md-12 no_padding">
                                <div class="infofollow">
                                    <span>Trong hộp có: <a class="stdImg" href="javascript:void(0)" onclick="gotoGallery(0, 100, true);">Hộp, Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim <i class="icondetail-camera standkit" href="//cdn.tgdd.vn/Products/Images/42/75180/Kit/samsung-galaxy-s7-edge-bobanhangchuan-org.jpg"></i></a></span>
                                    <span>Bảo hành chính hãng 12 tháng.</span>    
                                    <a class="pWarr" target="_blank" href="/bao-hanh/samsung">Xem điểm bảo hành</a>
                                    <span>Giao hàng trong 30 phút, đổi trả 1 tháng (nếu lỗi).</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 promotion " style="margin-top: 0px;">
                        <div class="title">
                            <label style="font-size: 16px;">Phụ kiện</label>
                        </div>
                        <!--                            <strong style="font-size: 16px;">Phụ kiện:</strong>-->
                        <div class="promoacc">
                            Từ 1/4-30/4: <b>Giảm 15%</b> món thứ 2, <b>Giảm 20%</b> món thứ 3
                        </div>
                        <ul class="listacc">
                            <li class="actacc" data-id="75083841" data-value="140000">

                                <img src="https://cdn4.tgdd.vn/Products/Images/60/75159/op-lung-iphone-6-6s-plus-nhua-deo-co-gai-rose-460x520.jpg" alt=""/>
                                <h3>Ốp lưng iPhone 6-6S Plus Nhựa dẻo Cô gái Rose</h3>
                                <span>140.000₫</span>
                                <a href="/them-vao-gio-hang?ProductId=75159">
                                    <button type="button">Mua</button></a>
                            </li>        
                            <li class="actacc" data-id="73342584" data-value="640000">

                                <img src="https://cdn1.tgdd.vn/Products/Images/57/73416/pin-sac-du-phong-x-mobile-9000-mah-y303-5-460x520.jpg" alt=""/>
                                <h3>Pin sạc dự phòng 9000 mAh Xmobile Y303</h3>
                                <span>640.000₫</span>
                                <a href="/them-vao-gio-hang?ProductId=73416">
                                    <button type="button">Mua</button></a>
                            </li>        
                        </ul>

                    </div>
                </div>  
                <div class="row">
                    <div class="product_detail_info_mid">
                        <div class="col-md-3 promotion margin_right">
                            <div class="title">
                                <label style="font-size: 16px;">Thông số kĩ thuật</label>
                            </div>
                            <div class="para">
                                <ul class="parameter">
                                    <li class="g6459_79_77">
                                        <span>Màn hình:</span>
                                        <div>
                                            <a href="https://www.thegioididong.com/tin-tuc/loai-man-hinh-tft-lcd-amoled-la-gi--592346#ledbacklitipslcd" target="_blank">
                                                LED-backlit IPS LCD
                                            </a>
                                            , 5.5", 
                                            <a href="https://www.thegioididong.com/tin-tuc/loai-man-hinh-tft-lcd-amoled-la-gi--592346#retina" target="_blank">
                                                Retina HD
                                            </a>
                                        </div>
                                    </li>
                                    <li class="g72">
                                        <span>Hệ điều hành:</span>
                                        <div>
                                            <a href="https://www.thegioididong.com/tin-tuc/ngay-mai-ios-9-ra-mat-co-gi-moi-dang-de-ban-cho-doi-702229" target="_blank">
                                                iOS 9
                                            </a>
                                        </div>
                                    </li>
                                    <li class="g27">
                                        <span>Camera sau:</span>
                                        <div>12 MP</div>
                                    </li>
                                    <li class="g29">
                                        <span>Camera trước:</span>
                                        <div>5 MP</div>
                                    </li>
                                    <li class="g6059_51">
                                        <span>CPU:</span>
                                        <div><a href="https://www.thegioididong.com/hoi-dap/chip-xu-ly-apple-a9-tren-iphone-6s-va-6s-plus-733695" target="_blank">Apple A9 2 nhân 64-bit</a>, 1.8 GHz
                                        </div>
                                    </li>
                                    <li class="g50">
                                        <span>RAM:</span>
                                        <div>2 GB</div>
                                    </li>
                                    <li class="g49">
                                        <span>Bộ nhớ trong:</span>
                                        <div>64 GB</div>
                                    </li>
                                    <li class="g52_53">
                                        <span>Hỗ trợ thẻ nhớ:</span>
                                        <div>Không, Không</div>
                                    </li>
                                    <li class="g60_6339">
                                        <span>Thẻ SIM:</span>
                                        <div>1 Sim, <a href="https://www.thegioididong.com/tin-tuc/tim-hieu-cac-loai-sim-thong-dung-sim-thuong-micro--590216#nanosim" target="_blank">Nano SIM</a>
                                        </div>
                                    </li>
                                    <li class="g8883_8882_7761">
                                        <span>Kết nối:</span>
                                        <div>WiFi, 3G, <a href="https://www.thegioididong.com/hoi-dap/4g-la-gi-731757#cat6" target="_blank">4G LTE Cat 6</a>
                                        </div>
                                    </li>
                                    <li class="g84">
                                        <span>Dung lượng pin:</span>
                                        <div>2750 mAh</div>
                                    </li>
                                    <li class="g7804">
                                        <span>Thiết kế:</span>
                                        <div><a href="https://www.thegioididong.com/tin-tuc/tim-hieu-cac-kieu-thiet-ke-tren-di-dong-va-may-tin-597153#nguyenkhoi" target="_blank">Nguyên khối</a>
                                        </div>
                                    </li>
                                    <li class="g43">
                                        <span>Chức năng đặc biệt:</span>
                                        <div><a href="https://www.thegioididong.com/tin-tuc/touch-id-la-gi--590286" target="_blank">Mở khóa bằng vân tay</a></div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-6 promotion margin_right">
                            <div class="title">
                                <label style="font-size: 16px;">Hình ảnh thực tế</label>

                            </div>
                            <div class="row">
                                <br/>
                                <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                        <li data-target="#myCarousel" data-slide-to="3"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-1.jpg" alt="Chania" width="680" height="300"/>
                                            <div>Galaxy S7 Edge với màn hình rộng 5.5", màn hình cong tràn cạnh với nhiều chức năng tiện lợi</div>
                                        </div>

                                        <div class="item">
                                            <img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-2.jpg" alt="Chania" width="680" height="300"/>
                                            <div>Camera chính với F/1.7, công nghệ Dual Pixels giúp lấy nét cực nhanh, khả năng chụp ảnh trong điều kiện thiếu sáng cực tốt</div>
                                        </div>
                                        <div class="item">
                                            <img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-4.jpg" alt="Flower" width="680" height="300"/>
                                            <div>Sự trở lại của khe thẻ nhớ mở rộng giúp trải nghiệm trên S7 Edge thêm tiện lợi, khe thẻ nhớ này còn đóng vai trò là SIM 2</div>
                                        </div>
                                        <div class="item">
                                            <img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-5.jpg" alt="Flower" width="680" height="300"/>
                                            <div>Hiệu năng cực mạnh với Exynos 8890, pin 3600mAh cho thời lượng sử dụng dài</div>
                                        </div>
                                        <div class="item">
                                            <img src="../../resources/default/img/img_system/samsung-galaxy-s7-edge-3.jpg" alt="Flower" width="680" height="300"/>
                                            <div>Chuẩn IP68 giúp S7 Edge có thể vận hành trong môi trường ẩm ướt (tia nước, đi mưa...)</div>
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 promotion">
                            <div class="title">
                                <label style="font-size: 16px;">Sản phẩm tương tự</label>
                            </div>
                            <ul class="listcompare col-md-12">
                                <li class="row">
                                    <div class="col-md-4 no_padding">
                                        <a href="#">
                                            <img class="lazy" data-original="https://cdn1.tgdd.vn/Products/Images/42/71306/iphone-6s-rosegold-icon-200x200.jpg" src="https://cdn1.tgdd.vn/Products/Images/42/71306/iphone-6s-rosegold-icon-200x200.jpg"/>

                                        </a>
                                    </div>
                                    <div class="col-md-8 no_padding">    
                                        <div class="col-md-12">
                                            <a href="#" class="linkh3">
                                                <h3>iPhone 6s 16GB</h3>
                                            </a>
                                        </div>
                                        <div class="pricecompare col-md-12">
                                            <strong>18.490.000₫</strong>
                                        </div>
                                        <div class="desc col-md-12">
                                            <span class="g79" data-cpr="47">Màn hình 4.7"</span><span class="g27" data-cpr="12">Camera sau 12 MP</span><span class="g84" data-cpr="1715">1 Sim, Pin 1715 mAh</span>
                                        </div>
                                        <div class="pare col-md-12">
                                            <i class="icontgdd-down"></i><i class="icontgdd-normal"></i><i class="icontgdd-down"></i></div>
                                        <a href="/dtdd/samsung-galaxy-s7-edge-vs-iphone-6s" class="comparedetail">So sánh chi tiết</a>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-4 no_padding">
                                        <a href="#">
                                            <img class="lazy" data-original="https://cdn3.tgdd.vn/Products/Images/42/70258/iphone-6-64gb-copy-nowatermark-200x200.jpg" src="https://cdn3.tgdd.vn/Products/Images/42/70258/iphone-6-64gb-copy-nowatermark-200x200.jpg" />
                                        </a>
                                    </div>
                                    <div class="col-md-8 no_padding">    
                                        <div class="col-md-12">
                                            <a href="#" class="linkh3">
                                                <h3>iPhone 6 64GB</h3>
                                            </a>
                                        </div>
                                        <div class="pricecompare col-md-12">
                                            <strong>18.490.000₫</strong>
                                        </div>
                                        <div class="desc col-md-12">
                                            <span class="g79" data-cpr="47">Màn hình 4.7"</span><span class="g27" data-cpr="12">Camera sau 12 MP</span><span class="g84" data-cpr="1715">1 Sim, Pin 1715 mAh</span>
                                        </div>
                                        <div class="pare col-md-12">
                                            <i class="icontgdd-down"></i><i class="icontgdd-normal"></i><i class="icontgdd-down"></i></div>
                                        <a href="/dtdd/samsung-galaxy-s7-edge-vs-iphone-6s" class="comparedetail">So sánh chi tiết</a>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-4 no_padding">
                                        <a href="#">
                                            <img class="lazy" data-original="https://cdn3.tgdd.vn/Products/Images/42/73023/sony-xperia-z5-premium-17-200x200.jpg" src="https://cdn3.tgdd.vn/Products/Images/42/73023/sony-xperia-z5-premium-17-200x200.jpg" style="display: inline;"/>
                                        </a>
                                    </div>
                                    <div class="col-md-8 no_padding">    
                                        <div class="col-md-12">
                                            <a href="#" class="linkh3">
                                                <h3>Sony Xperia Z5 Premium Dual</h3>
                                            </a>
                                        </div>
                                        <div class="pricecompare col-md-12">
                                            <strong>17.990.000₫</strong>
                                        </div>
                                        <div class="desc col-md-12">
                                            <span class="g79" data-cpr="55">Màn hình 5.5"</span><span class="g27" data-cpr="21">Camera sau 23 MP</span><span class="g84" data-cpr="3430">2 SIM, Pin 3430 mAh</span>
                                        </div>
                                        <div class="pare col-md-12">
                                            <i class="icontgdd-down"></i><i class="icontgdd-normal"></i><i class="icontgdd-down"></i></div>
                                        <a href="/dtdd/samsung-galaxy-s7-edge-vs-sony-xperia-z5-premium" class="comparedetail">So sánh chi tiết</a>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-top: 1px solid #ddd;
                     margin-top: 30px ;">

                </div>

            </div>

        </div>
        <div class="clearfix"></div>
        <footer >
            <ul class="navifooter">
                <li>
                    <a href="/huong-dan-mua-hang">Hướng dẫn mua online</a>
                    <a href="/tra-gop">Hướng dẫn mua trả góp</a>
                    <a href="/bao-hanh">Bảo hành, đổi trả</a>
                </li>
                <li>
                    <a href="http://mwg.vn/">Giới thiệu công ty</a>
                    <a href="/he-thong-sieu-thi-the-gioi-di-dong">Xem 679 Siêu thị</a>
                    <a href="/lien-he">Góp ý, khiếu nại</a>
                </li>
                <li>
                    <div>Gọi mua hàng <b>1800.1060</b> (7:30 - 22:00)</div>
                    <div>Gọi khiếu nại <b>1800.1062</b> (8:00 - 21:30)</div>
                    <div>Gọi bảo hành <b>1800.1064</b> (8:00 - 21:00)</div>
                </li>
                <li>
                    <div class="socail">
                        <a href="#" target="_blank" class="fb"><i class="icontgdd-fb"></i>&nbsp;2.1tr</a>
                        <a target="_blank" href="#" class="yt"><i class="icontgdd-yt"></i>&nbsp;50.8k</a>
                    </div>
                </li>
            </ul>
            <div class="copy">
                <div class="copyright">
                    © 2015. Công ty cổ phần Mobizi. 
                    Văn phòng:Lầu 5 Etown 2, 364 Cộng Hòa, Q.Tân Bình, TP.Hồ Chí Minh.
                    GP số 22/GP-ICP-STTTT do Sở TTTT TP HCM cấp ngày 20/03/2012
                    Chịu trách nhiệm nội dung: Điêu Chính Hải Triều
                </div>
            </div>
        </footer>

    </h:body>
</html>

