<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Member</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/style1.css"/>
    </h:head>
    <h:body>
        
        
        <h:form>
            <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <h3><a href="http://localhost:8084/mobizi/faces/views/homepage_1.xhtml" style="text-decoration: none">Mobizi.vn</a></h3>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <div style="position: absolute;margin-top: 10px;">
                                    <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}"
                                             class="img-circle" height="35px" width="35px"/>
                                </div>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                   style="margin-right: 50px;margin-left: 30px">
                                    
                                    <div style="float: left">
                                        <h:outputLabel value="#{userBean.username}"/>
                                        <br/>
                                        <p style="font-size: 10px">Member</p>
                                    </div>
                                    <span class="caret"></span>     
                                </a>
                                <ul class="dropdown-menu" role="menu" style="margin-right: 40px" >
                                    <li>
                                        <a href="http://localhost:8084/mobizi/faces/views/member_page.xhtml">
                                            <span class="glyphicon glyphicon-user"></span>Profile
                                        </a>
                                        <h:commandLink action="#{userBean.logout()}">
                                            <span class="glyphicon glyphicon-log-out"></span>Log out
                                        </h:commandLink>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </h:form>
        
            <div class="row">
            <div class="container-fluid text-center">    
                <div class="row">
                    <div class="col-sm-3 well">
                        <div class="">
                            <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}" class="img-circle" height="150" width="150" alt="Avatar"/>
                            <div class="profile">
                                <p><a href="#">#{userBean.full_name}</a></p>
                            </div>
                        </div>
                        <div class="panel-group text-left" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                            </span>Profile</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <h:form>
                                                    <span class="glyphicon glyphicon-pencil text-primary"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/change_profile.xhtml">Change info</a>
                                                    
<!--                                                <h:commandLink class="main_menu_item_link" action="{userBean.edit_info()}" value="Change info">
                                                        
                                                    </h:commandLink>-->
                                                    </h:form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-lock text-success"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/change_password.xhtml">Change Password</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/change_avatar.xhtml">Change Avatar</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                            </span>Task</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/list_order.xhtml">Đơn đã đặt</a> 
                                                    <span class="label label-success">${orderBean.count_Order_By_IDuser()} </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <ui:insert name="content">
                            
                        </ui:insert>
                    </div>
                    
                </div>
            </div>
            </div>
        
            <footer class="container-fluid text-center">
                <p>&copy;Coppyright 2016</p>
            </footer>
    </h:body>
</html>