<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Admin</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/style1.css"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/font-awesome.min.css"/>
    </h:head>
    <h:body>
        
        <h:panelGroup rendered="#{userBean.checkRole()}">
        <h:form>
            <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <h3><a href="http://localhost:8084/mobizi/faces/views/homepage_1.xhtml" style="text-decoration: none">Mobizi.vn</a></h3>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <div style="position: absolute;margin-top: 10px;">
                                    <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}"
                                             class="img-circle" height="35px" width="35px"/>
                                </div>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                   style="margin-right: 50px;margin-left: 30px">
                                    
                                    <div style="float: left">
                                        <h:outputLabel value="#{userBean.username}"/>
                                        <br/>
                                        <p style="font-size: 10px">Administrator</p>
                                    </div>
                                    <span class="caret"></span>     
                                </a>
                                <ul class="dropdown-menu" role="menu" style="margin-right: 40px" >
                                    <li>
                                        <a href="http://localhost:8084/mobizi/faces/views/admin/admin_page.xhtml">
                                            <span class="glyphicon glyphicon-user"></span>Profile
                                        </a>
                                        <h:commandLink action="#{userBean.logout_Admin()}">
                                            <span class="glyphicon glyphicon-log-out"></span>Log out
                                        </h:commandLink>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </h:form>
            <div class="row">
            <div class="container-fluid text-center">    
                <div class="row">
                    <div class="col-sm-3 well">
                        <div class="">
                            <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}" class="img-circle" height="150" width="150" alt="Avatar"/>
                            <div class="profile">
                                <p><a href="#">#{userBean.full_name}</a></p>
                            </div>
                        </div>
                        <div class="panel-group text-left" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                            </span>Profile</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-primary"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/change_profile.xhtml">Change info</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-lock text-success"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/change_password.xhtml">Change Password</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/change_avatar.xhtml">Change Avatar</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                            </span>Manage Product</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/list_order.xhtml">Đơn hàng</a> 
                                                    <span class="label label-success">${orderBean.count_Order()} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/list_product.xhtml">Quản lí sản phẩm</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/create.xhtml">Tạo sản phẩm mới</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/changeImageProduct.xhtml">Thay đổi ảnh sản phẩm</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                            </span>Manage User</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="http://localhost:8084/mobizi/faces/views/admin/manage_member.xhtml">Manage user</a>
                                                </td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                            </span>Reports</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-usd"></span><a href="#">Sales</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-user"></span><a href="#">Customers</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-tasks"></span><a href="#">Products</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Shopping Cart</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <ui:insert name="content">
                            
                        </ui:insert>
                    </div>
                    
                </div>
            </div>
            </div>
            <footer class="container-fluid text-center">
                <p>&copy;Coppyright 2016</p>
            </footer>
        
        </h:panelGroup>
    </h:body>
</html>