<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                <div class="well col-md-offset-2 col-md-6">
                    <legend style="text-align: center">Change password</legend>

                    <div class="form-group">
                        <label class="control-label" for="password">Password Old</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <h:inputSecret value="#{userBean.passwordold}" pt:placeholder="Password" class="form-control"/>

                        </div>
                        <span style="color: red">#{userBean.error_old}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password">Password New</label>
                        <p style="color: gainsboro">(Must be than 6 character)</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <h:inputSecret value="#{userBean.passwordnew}" pt:placeholder="New Password" class="form-control"/>
                        </div>
                    </div>
                    <span style="color: red">#{userBean.error_new}</span>
                    <div class="form-group">
                        <label class="control-label" for="password">Confirm password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <h:inputSecret value="#{userBean.passwordconfirm}" pt:placeholder="Re-Password" class="form-control"/>
                        </div>
                        <span style="color: red">#{userBean.error_confirm}</span>
                    </div>
                    <div class="form-group text-center">
                        <h:commandButton class="btn btn-success" value="Ok"
                                         action="#{userBean.change_Password()}">
                        </h:commandButton>
                    </div>
                    <h5 style="color: green;"><i>#{userBean.messagep}</i></h5>
                    <h5 style="color: red;"><i>#{userBean.error}</i></h5>
                </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

