<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend style="text-align: center">Edit profile</legend>

                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="fullname">Full Name</label>  
                        <div class="col-md-4">
                            <h:inputText value="#{userBean.full_name}" id="fullname"  pt:placeholder="Full name" class="form-control input-md" />
                            
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email</label>  
                        <div class="col-md-4">
                            <h:inputText id="email" value="#{userBean.mail}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="staff">Gender</label>
                        <div class="col-md-4">
                            <h:selectOneRadio value="#{userBean.gender}" >
                                <f:selectItem itemLabel="Male" itemValue="male"/>
                                <f:selectItem itemLabel="Female" itemValue="female"/>
                            </h:selectOneRadio>
                           
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tel">Tel</label>  
                        <div class="col-md-4">
                            <h:inputText id="tel" value="#{userBean.tel}"  pt:placeholder="Tel" class="form-control input-md"/>
                            
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="city">City</label>
                        <div class="col-md-4">
                            <h:inputText id="city" value="#{userBean.city}"  pt:placeholder="City" class="form-control input-md"/>
                            
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address">Address</label>
                        <div class="col-md-4">
                            <h:inputText id="address" value="#{userBean.address}"  class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <span style="color: red">#{userBean.errori}</span>
                    <div class="form-group">

                        <div class="col-md-offset-0">
                            <h:commandButton action="#{userBean.update_Info()}"  value="Submit" class="btn btn-primary"></h:commandButton>
                        </div>
                    </div>
                    <span style="color: green">#{userBean.messagei}</span>

                </fieldset>
            </h:form>
        </ui:composition>
    </h:body>
</html>

