<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form enctype="multipart/form-data">

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6 well">
                        <div class="col-md-12">
                            <img src="http://localhost:8084/mobizi/faces/resources/default/img/img_members/#{userBean.picture}"
                             height="200" width="200" class="img-circle"/>
                        </div>
                        <div class="col-md-12" >
                            <h:inputFile class="col-md-offset-3 col-md-6" style="width: 50%;margin: 30px 0px; "
                                         value="#{userBean.file}"/>
                        </div>
                        <div class="form-group text-center">
                            <h:commandButton class="btn btn-default" value="Change Avatar" 
                                             action="#{userBean.changeAvatar()}"/>
                        </div>
                        <h5 style="color: #999900;"><i>#{userBean.messageimage}</i></h5>
                    </div>
                </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

