<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form enctype="multipart/form-data">

                <div class=" col-md-12 well">
                    <div class="col-md-12 text-left" style="margin-bottom: 10px;">
                        <div class="col-md-6"><strong>Chọn sản phẩm</strong></div>
                        <div class="col-md-offset-8 "><strong>Ảnh cũ</strong></div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 no_padding" id="cate1">
                            <h:selectOneMenu id="parent" value="#{productBean.name}" class="form-control product-type">
                                <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                <f:selectItem itemValue="" itemLabel="-- Product --" itemDisabled=""/>
                                <f:selectItems value="#{productBean.allProduct}" var="item"
                                               itemLabel="#{item.name}" itemValue="#{item.name}">
                                </f:selectItems>
                                <f:ajax execute="parent" render="son" listener="#{productBean.getImageAjax}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="col-md-6">
                            <h:graphicImage  id="son" value="http://localhost:8084/mobizi/faces/resources/default/img/img_system/img_thumbnail/#{productBean.imageajax}"/>

                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div class="col-md-12 text-left">Chọn ảnh mới: </div>
                        <div class="col-md-12">
                        <h:inputFile class="col-md-offset-3 col-md-6" style="width: 50%;margin: 10px 0px; "
                                     value="#{productBean.file}"/>
                        </div>
                        <div class="col-md-12">
                            <h:commandButton class="btn btn-default left" value="Change Image" 
                                         action="#{productBean.changePicture}"/>
                        </div>
                    </div>
                    <h5 style="color: #999900;"><i>#{productBean.messimgproduct}</i></h5>
                </div>
                
            </h:form>
        </ui:composition>
    </h:body>
</html>

