<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form enctype="multipart/form-data">
                <div class="col-md-12 text-left">
                    <h1 class="text-center">
                        Create new Product
                    </h1>
                    <div class="col-md-12 text-left">
                        <div class="edit">
                            <fieldset>
                                <div class="col-md-12 form-group margin50">
                                    <label class="col-md-2" for="name1">Name</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="name1" value="#{productBean.name}" pt:placeholder="Name product" class="form-control "/>
                                    </div>
                                </div>
                                <div class=" col-md-12 form-group">
                                    <label class="col-md-2" for="cate1">Category</label>
                                    <div class="col-md-8">
                                        <div class="col-md-6 no_padding" id="cate1">
                                            <h:selectOneMenu id="parent" value="#{productBean.id_parent}" class="form-control product-type">
                                                <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                                <f:selectItem itemValue="" itemLabel="-- Type --" itemDisabled=""/>
                                                <f:selectItems value="#{categoryBean.allCategoryParent}" var="item"
                                                               itemLabel="#{item.name}" itemValue="#{item.id}">
                                                </f:selectItems>
                                                <f:ajax execute="parent" render="son" listener="#{productBean.getCategoryAjax}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <h:selectOneMenu id="son" class="form-control" value="#{productBean.category_id}">
                                                <f:selectItem itemValue="" itemLabel="---- Category ----" itemDisabled=""/>
                                                <f:selectItems value="#{productBean.listcategory}" var="item1"
                                                               itemValue="#{item1.id_category}" itemLabel="#{item1.name}"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="price1">Price</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="price1" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="promotion1">Promotion</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="promotion1" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="quantity1">Quantity</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="quantity1" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2" for="manufacturer1">Manufacturer</label>
                                    <div class="col-md-8">
                                        <h:inputText id="manufacturer1" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2" for="show">Show/Hide</label>
                                    <div class="col-md-4">
                                        <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                            <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                            <f:selectItem itemValue="1" itemLabel="Hide"/>
                                            <f:selectItem itemValue="2" itemLabel="Show"/>
                                            <f:selectItem itemValue="3" itemLabel="Show first"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li>Notice :</li>
                                            <li>1 = hide for all user</li>
                                            <li>2 = show for user</li>
                                            <li>3 = show in homepage</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <h:inputFile value="#{productBean.file}"/>
                                    <p>* Only image type : JPEG,JPG,PNG </p>
                                </div>

                                <h:commandButton value="Submit" action="#{productBean.insertNew_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                    <!--<f:param name="id" value="{it.id_product}"/>-->
                                </h:commandButton>

                            </fieldset>

                        </div>
                    </div>
                </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

