<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <style>
            h2{
                text-align: center;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                <div class="col-md-12 text-left">
                    <h1 class="text-center">
                        Manage Product
                    </h1>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#dt">Điện thoại</a></li>
                        <li><a href="#lt">Laptop</a></li>
                        <li><a href="#mtb">Máy tính bảng</a></li>
                        <li><a href="#pk">Phụ kiện</a></li>
                    </ul>
                    <div class="tab-content">
                        <!--<h:form>-->
                            <div id="dt" class="tab-pane fade in active">
                                <h2>Create new mobile</h2>
                                <div class="col-md-12 text-left">
                                    <div class="edit">

                                        <fieldset>
                                            <div class="col-md-12 form-group margin50">
                                                <label class="col-md-2" for="name1">Name</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="name1" value="#{productBean.name}" pt:placeholder="Name product" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class=" col-md-12 form-group">
                                                <label class="col-md-2" for="cate1">Category</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-6 no_padding" id="cate1">
                                                        <h:selectOneMenu value="#{productBean.category_id}" class="form-control product-type">
                                                            <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                                            <f:selectItems value="#{productBean.getAll_SubCategory(0)}" var="item"
                                                                           itemLabel="#{item.name}" itemValue="#{item.id_category}">
                                                            </f:selectItems>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="price1">Price</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="price1" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="promotion1">Promotion</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="promotion1" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="quantity1">Quantity</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="quantity1" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="manufacturer1">Manufacturer</label>
                                                <div class="col-md-8">
                                                    <h:inputText id="manufacturer1" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="show">Show/Hide</label>
                                                <div class="col-md-4">
                                                    <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                                        <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                                        <f:selectItem itemValue="1" itemLabel="Hide"/>
                                                        <f:selectItem itemValue="2" itemLabel="Show"/>
                                                        <f:selectItem itemValue="3" itemLabel="Show first"/>
                                                    </h:selectOneMenu>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul>
                                                        <li>Notice :</li>
                                                        <li>1 = hide for all user</li>
                                                        <li>2 = show for user</li>
                                                        <li>3 = show in homepage</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <h:commandButton value="Submit" action="#{productBean.insertNew_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                                <!--<f:param name="id" value="{it.id_product}"/>-->
                                            </h:commandButton>

                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        <!--</h:form>-->
                        <!--<h:form>-->
                            <div id="lt" class="tab-pane fade">
                                <h2>Create new laptop</h2>
                                <div class="col-md-12 text-left">
                                    <div class="edit">

                                        <fieldset>
                                            <div class="col-md-12 form-group margin50">
                                                <label class="col-md-2" for="name2">Name</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="name2" value="#{productBean.name}" pt:placeholder="Name product" class="form-control "/>
                                                </div>
                                            </div>

                                            <div class=" col-md-12 form-group">
                                                <label class="col-md-2" for="cate2">Category</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-6 no_padding" id="cate1">
                                                        <h:selectOneMenu value="#{productBean.category_id}" class="form-control product-type">
                                                            <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                                            <f:selectItems value="#{productBean.getAll_SubCategory(1)}" var="item"
                                                                           itemLabel="#{item.name}" itemValue="#{item.id_category}">
                                                            </f:selectItems>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="price2">Price</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="price2" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="promotion2">Promotion</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="promotion2" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="quantity2">Quantity</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="quantity2" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="manufacturer2">Manufacturer</label>
                                                <div class="col-md-8">
                                                    <h:inputText id="manufacturer2" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="show">Show/Hide</label>
                                                <div class="col-md-4">
                                                    <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                                        <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                                        <f:selectItem itemValue="1" itemLabel="Hide"/>
                                                        <f:selectItem itemValue="2" itemLabel="Show"/>
                                                        <f:selectItem itemValue="3" itemLabel="Show first"/>
                                                    </h:selectOneMenu>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul>
                                                        <li>Notice :</li>
                                                        <li>1 = hide for all user</li>
                                                        <li>2 = show for user</li>
                                                        <li>3 = show in homepage</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <h:commandButton value="Submit" action="#{productBean.insertNew_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                                <!--<f:param name="id" value="{it.id_product}"/>-->
                                            </h:commandButton>

                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        <!--</h:form>-->
                        <!--<h:form>-->
                            <div id="mtb" class="tab-pane fade">
                                <h2>Create new Tablet</h2>
                                <div class="col-md-12 text-left">
                                    <div class="edit">

                                        <fieldset>
                                            <div class="col-md-12 form-group margin50">
                                                <label class="col-md-2" for="name3">Name</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="name3" value="#{productBean.name}" pt:placeholder="Name product" class="form-control "/>
                                                </div>
                                            </div>

                                            <div class=" col-md-12 form-group">
                                                <label class="col-md-2" for="cate3">Category</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-6 no_padding" id="cate3">
                                                        <h:selectOneMenu value="#{productBean.category_id}" class="form-control product-type">
                                                            <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                                            <f:selectItems value="#{productBean.getAll_SubCategory(2)}" var="item"
                                                                           itemLabel="#{item.name}" itemValue="#{item.id_category}">
                                                            </f:selectItems>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="price3">Price</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="price3" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="promotion3">Promotion</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="promotion3" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="quantity3">Quantity</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="quantity3" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="manufacturer3">Manufacturer</label>
                                                <div class="col-md-8">
                                                    <h:inputText id="manufacturer3" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="show">Show/Hide</label>
                                                <div class="col-md-4">
                                                    <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                                        <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                                        <f:selectItem itemValue="1" itemLabel="Hide"/>
                                                        <f:selectItem itemValue="2" itemLabel="Show"/>
                                                        <f:selectItem itemValue="3" itemLabel="Show first"/>
                                                    </h:selectOneMenu>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul>
                                                        <li>Notice :</li>
                                                        <li>1 = hide for all user</li>
                                                        <li>2 = show for user</li>
                                                        <li>3 = show in homepage</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <h:commandButton value="Submit" action="#{productBean.insertNew_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                                <!--<f:param name="id" value="{it.id_product}"/>-->
                                            </h:commandButton>

                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        <!--</h:form>-->
                        <!--<h:form>-->
                            <div id="pk" class="tab-pane fade">
                                <h2>Create new Accessories</h2>
                                <div class="col-md-12 text-left">
                                    <div class="edit">

                                        <fieldset>
                                            <div class="col-md-12 form-group margin50">
                                                <label class="col-md-2" for="name4">Name</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="name4" value="#{productBean.name}" pt:placeholder="Name product" class="form-control "/>
                                                </div>
                                            </div>

                                            <div class=" col-md-12 form-group">
                                                <label class="col-md-2" for="cate4">Category</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-6 no_padding" id="cate4">
                                                        <h:selectOneMenu value="#{productBean.category_id}" class="form-control product-type">
                                                            <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                                            <f:selectItems value="#{productBean.getAll_SubCategory(3)}" var="item"
                                                                           itemLabel="#{item.name}" itemValue="#{item.id_category}">
                                                            </f:selectItems>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="price4">Price</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="price4" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="promotion4">Promotion</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="promotion4" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group ">
                                                <label class="col-md-2"  for="quantity4">Quantity</label>
                                                <div class="col-md-8">
                                                    <h:inputText  id="quantity4" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="manufacturer4">Manufacturer</label>
                                                <div class="col-md-8">
                                                    <h:inputText id="manufacturer4" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2" for="show">Show/Hide</label>
                                                <div class="col-md-4">
                                                    <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                                        <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                                        <f:selectItem itemValue="1" itemLabel="Hide"/>
                                                        <f:selectItem itemValue="2" itemLabel="Show"/>
                                                        <f:selectItem itemValue="3" itemLabel="Show first"/>
                                                    </h:selectOneMenu>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul>
                                                        <li>Notice :</li>
                                                        <li>1 = hide for all user</li>
                                                        <li>2 = show for user</li>
                                                        <li>3 = show in homepage</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <h:commandButton value="Submit" action="#{productBean.insertNew_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                                <!--<f:param name="id" value="{it.id_product}"/>-->
                                            </h:commandButton>

                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        <!--</h:form>-->
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $(".nav-tabs a").click(function (e) {
                            e.preventDefault();
                            $(this).tab('show');
                        });
                        
                    });
                </script>
                </h:form>
        </ui:composition>
    </h:body>
</html>

