<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
            <div class="col-md-12 text-left">
                    <div class="edit">
                            <ui:repeat value="#{productBean.getProduct_byID(param.product_id)}" var="it">
                            <fieldset>
                                <div class="col-md-12 form-group margin50">
                                    <label class="col-md-2"  for="name">Name</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="name" value="#{productBean.name}" pt:placeholder="#{it.name}" class="form-control "/>
                                    </div>
                                </div>

                                <div class=" col-md-12 form-group">
                                    <label class="col-md-2" for="cate">Category</label>
                                    <div class="col-md-8">
                                        <h:selectOneMenu value="#{productBean.category_id}" class="form-control product-type">
                                            <!--<f:selectItem itemValue="0" itemLabel="Select" />-->
                                            <f:selectItems value="#{productBean.getAll_SubCategory(param.category_id)}" var="item"
                                                           itemLabel="#{item.name}" itemValue="#{item.id_category}">
                                            </f:selectItems>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="price">Price</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="price" value="#{productBean.price}" pt:placeholder="#{it.price}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="promotion">Promotion</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="promotion" value="#{productBean.price_promotion}" pt:placeholder="#{it.price_promotion}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <label class="col-md-2"  for="quantity">Quantity</label>
                                    <div class="col-md-8">
                                        <h:inputText  id="quantity" value="#{productBean.quantity}" pt:placeholder="#{it.quantity}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2" for="manufacturer">Manufacturer</label>
                                    <div class="col-md-8">
                                        <h:inputText id="manufacturer" value="#{productBean.manufacter}" pt:placeholder="#{it.manufacter}" class="form-control "/>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2" for="show">Show/Hide</label>
                                    <div class="col-md-4">
                                        <h:selectOneMenu value="#{productBean.hide}" class="form-control product-type">
                                            <f:selectItem itemValue="0" itemLabel="Select" itemDisabled="true"/>
                                                <f:selectItem itemValue="1" itemLabel="Hide"/>
                                                <f:selectItem itemValue="2" itemLabel="Show"/>
                                                <f:selectItem itemValue="3" itemLabel="Show first"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li>Notice :</li>
                                            <li>1 = hide for all user</li>
                                            <li>2 = show for user</li>
                                            <li>3 = show in homepage</li>
                                        </ul>
                                    </div>
                                </div>
                                <h:inputHidden value="#{it.id_product}" />
                                <h:commandButton value="Submit" action="#{productBean.update_Product()}" class="col-md-offset-5" style="margin-bottom: 20px;">
                                    <f:param name="id" value="#{it.id_product}"/>
                                </h:commandButton>
                               
                           </fieldset>
                            </ui:repeat>
                        
                    </div>
                </div>
                </h:form>
        </ui:composition>
    </h:body>
</html>

