<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="../../resources/custom/style1.css"/>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                <div class="col-md-12 text-left">
                    <h1 class="text-center" style="margin-bottom: 30px">
                        List all Order
                    </h1>
                    
                </div>
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <tbody>
                            <tr>
                                <th class="numeric">Receiver</th>
                                <th class="numeric">Address</th>
                                <th class="numeric">Description</th>
                                <th class="numeric">Order date</th>
                                <th class="numeric">Delivery date</th>
                                <th class="numeric">Status</th>
                            </tr>                                                                        
                            <ui:repeat value="#{orderBean.order_By_IDuser}" var="item">
                                <tr>
                                    <td data-title="Receiver">#{item.receiver}</td>
                                    <td data-title="Address" class="numeric">#{item.address_order}</td>
                                    <td data-title="Description" class="numeric">#{item.description}</td>
                                    <td data-title="Order date" class="numeric">#{item.order_date}</td>
                                    <td data-title="Delivery date" class="numeric">#{item.delivery_date}</td>
                                    <td data-title="Status" class="numeric">#{item.stat}</td>
                                </tr>
                            </ui:repeat>                                       
                        </tbody>
                    </table>
                </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

