<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/style1.css"/>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
            <div class="col-md-12 text-left">
                <h1 class="text-center">
                    Manage Product
                </h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tq">Tổng quan</a></li>
                    
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Điện thoại<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#ss">Samsung</a></li>
                            <li><a href="#ap">Apple</a></li>
                            <li><a href="#lg">LG</a></li>
                            <li><a href="#sn">Sony</a></li>
                            <li><a href="#op">Oppo</a></li>
                            <li><a href="#htc">HTC</a></li>
                            <li><a href="#nk">Nokia</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Laptop<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#dl">Dell</a></li>
                            <li><a href="#as">Asus</a></li>
                            <li><a href="#hp">HP</a></li>
                            <li><a href="#ln">Lenovo</a></li>
                        </ul>
                    </li>
                    <!--<li><a href="#lt">Laptop</a></li>-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Máy tính bảng<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#lnmtb">Lenovo</a></li>
                            <li><a href="#apmtb">Apple</a></li>
                            <li><a href="#asmtb">Asus</a></li>
                            <li><a href="#mbmtb">Mobell</a></li>
                            <li><a href="#ssmtb">Samsung</a></li>
                        </ul>
                    </li>
                    <!--<li><a href="#mtb">Máy tính bảng</a></li>-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Phụ kiện<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#cs">Cáp sạc</a></li>
                            <li><a href="#loa">Loa</a></li>
                            <li><a href="#tn">Tai nghe</a></li>
                            <li><a href="#usb">USB</a></li>
                            <li><a href="#ol">Ốp lưng</a></li>
                            <li><a href="#tn">Thẻ nhớ</a></li>
                            <li><a href="#pin">Pin</a></li>
                            <li><a href="#mouse">Mouse</a></li>
                        </ul>
                    </li>
                    <!--<li><a href="#pk">Phụ kiện</a></li>-->
<!--                    <li><a href="#create">Create product</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Create product<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#createdt">Điện thoại</a></li>
                            <li><a href="#createlt">Laptop</a></li>
                            <li><a href="#createmtb">Máy tính bảng</a></li>
                            <li><a href="#createpk">Phụ kiện</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="tab-content">
                    <div id="tq" class="tab-pane fade in active ">
                        <div class="row text-center" style="margin-top: 50px">
                            <div class="col-md-6 col-sm-6 col-lg-3">
                                <div class="infocate blue">
                                    <div class="">
                                        <h3 class="clor"><strong> Mobile</strong></h3>
                                        <span class="label label-info" style="font-size: 500%">
                                            #{productBean.countProduct_By_Category('điện thoại')}
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-3">
                                <div class="infocate green">
                                    <div class="">
                                        <h3 class="clor"><strong> Laptop</strong></h3>
                                        <span class="label label-success" style="font-size: 500%">
                                            #{productBean.countProduct_By_Category('laptop')}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-3">
                                <div class="infocate deepblue">
                                    <div class="">
                                        <h3 class="clor"><strong> Tablet</strong></h3>
                                        <span class="label label-primary" style="font-size: 500%">
                                            #{productBean.countProduct_By_Category('máy tính bảng')}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-3">
                                <div class="infocate orange">
                                    <div class="">
                                        <h3 class="clor"><strong> Accessories</strong></h3>
                                        <span class="label label-warning" style="font-size: 500%">
                                            #{productBean.countProduct_By_Category('phụ kiện')}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="ss" class="tab-pane fade">
                        <h3>Samsung</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(1)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="ap" class="tab-pane fade">
                        <h3>Apple</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(4)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="lg" class="tab-pane fade">
                        <h3>LG</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(2)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="sn" class="tab-pane fade">
                        <h3>Sony</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(5)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>                                            
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="op" class="tab-pane fade">
                        <h3>Oppo</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(3)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="htc" class="tab-pane fade">
                        <h3>HTC</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(6)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="nk" class="tab-pane fade">
                        <h3>Nokia</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(7)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="hp" class="tab-pane fade">
                        <h3>HP</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(9)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="dl" class="tab-pane fade">
                        <h3>DELL</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(11)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="ln" class="tab-pane fade">
                        <h3>Lenovo</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(10)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="as" class="tab-pane fade">
                        <h3>Asus</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(8)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="lnmtb" class="tab-pane fade">
                        <h3>Lenovo</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(12)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="apmtb" class="tab-pane fade">
                        <h3>Apple</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(13)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="asmtb" class="tab-pane fade">
                        <h3>Asus</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(14)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="mbmtb" class="tab-pane fade">
                        <h3>Mobell</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(15)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="ssmtb" class="tab-pane fade">
                        <h3>Samsung</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(16)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="cs" class="tab-pane fade">
                        <h3>Cáp sạc</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(17)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="tn" class="tab-pane fade">
                        <h3>Tai nghe</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(19)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="pin" class="tab-pane fade">
                        <h3>Pin</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(23)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="usb" class="tab-pane fade">
                        <h3>USB</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(20)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="mouse" class="tab-pane fade">
                        <h3>Mouse</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(24)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="ol" class="tab-pane fade">
                        <h3>Ốp lưng</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(22)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="loa" class="tab-pane fade">
                        <h3>Loa</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(18)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div id="tn" class="tab-pane fade">
                        <h3>Thẻ nhớ</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(21)}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{productBean.edit_Product()}" value="edit">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                <script>
                    $(document).ready(function () {
                        $(".nav-tabs a").click(function (e) {
                            e.preventDefault();
                            $(this).tab('show');
                        });
                        $("#cate0 select").on('change',function (){
                            var id0=$(this).attr('value');
                            $("#cate1 option").attr('value')='#'+'{productBean.getAll_SubCategory('+id0+')}';
                            $("#cater1").show();
                        });
                    });
                </script>
            </div>
            </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

