<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="../../resources/custom/style1.css"/>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                <div class="col-md-12 text-left" style="margin-bottom: 30px;">
                    <h1 class="text-center">
                        Manage User
                    </h1>
                    
                </div>
                <div id="no-more-tables" class="text-left">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <tbody>
                            <tr>
                                <th class="numeric">ID</th>
                                <th class="numeric">Full name</th>
                                <th class="numeric">Username</th>
                                <th class="numeric">Email</th>
                                <th class="numeric">Address</th>
                                <th class="numeric">Tel</th>
                                <th class="numeric">Tel</th>
                                <th class="numeric">Action</th>                                                                                       
                            </tr>                                                                        
                            <ui:repeat value="#{userBean.all_User}" var="item">
                                <tr >
                                    <td data-title="ID">#{item.id_user}</td>
                                    <td data-title="Full name">#{item.full_name}</td>
                                    <td data-title="Username" class="numeric">#{item.username}</td>
                                    <td data-title="Email" class="numeric">#{item.mail}</td>
                                    <td data-title="Address" class="numeric">#{item.address}</td>
                                    <td data-title="Tel" class="numeric">#{item.tel}</td>
                                    <td data-title="Tel" class="numeric">#{item.status}</td>
                                    <td data-title="Action" class="numeric">
                                        <h:commandButton action="#{userBean.delete_User_By_ID()}" value="delete">
                                            <f:param name="id" value="#{item.id_user}"/>
                                        </h:commandButton>
                                        <h:commandButton action="#{userBean.banned_User_BY_ID()}" value="banned">
                                            <f:param name="id" value="#{item.id_user}" />
                                        </h:commandButton>
                                    </td>
                                </tr>
                            </ui:repeat>                                       
                        </tbody>
                    </table>
                </div>
            </h:form>
        </ui:composition>
    </h:body>
</html>

