*{
    margin: 0px;
    padding: 0px;
}
#header {
    position: relative;
    width: 100%;
    height: 56px;
    top: 0;
    background: #111;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1170px;
    margin: auto;
}
.header_logo {
    width: 140px;
    height: 44px;
    margin: 6px 0;
    background-size: cover;
    float: left;    
    background: url('http://localhost:8084/mobizi/resources/default/img/img_system/mobizi_img.png') no-repeat 0 0;
}
.header_slogan {
    float: left;
    margin: 19px 12px 0px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
    /*text-Shadow: 0 0 1px rgba(255,255,255,0.8);*/
    font-family:  'Open Sans', sans-serif;
}
.header_top_menu {
    float: right;
}
.header_top_menu a {
    float: right;
    margin-top: 18px;
    padding-left: 22px;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(255,255,255,0.2);
    color: #eee;
    background-position: 0 1px;
    text-decoration: none;
    cursor: pointer;
}
.shopping_cart_btn {
    background: url('http://localhost:8084/mobizi/resources/default/img/img_system/cart.png') no-repeat;
}
a {

}
.split_line {
    float: right;
    height: 18px;
    width: 1px;
    background: #555;
    margin: 18px 14px 0 14px;
}
.promotion_btn {
    background: url('http://localhost:8084/mobizi/resources/default/img/img_system/promotion.png') no-repeat;
}
.hotline_btn {
    background: url('http://localhost:8084/mobizi/resources/default/img/img_system/hotline.png') no-repeat;
}

.header_menu_bg {
    position: relative;
    width: 100%;
    height: 56px;
    background: #fff;
    /* background: rgba(182,16,20,0.8); */
    z-index: 100;
    border-bottom: 3px solid #111;
}
.main_menu_bg {
    clear: both;
    position: relative;
    float: left;
    height: 56px;
    z-index: 50;
    margin-top: 0px;
}
.main_menu_item {
    position: absolute;
    z-index: 9955;
    position: relative;
    float: left !important;
    height: 56px;
    /* cursor: pointer; */
}
.main_menu_item:hover{
    /*color: white;*/
    background-color: black;
}
.main_menu_item_link {
    /*position: absolute;*/
    /*z-index: 65;*/
    /*position: relative;*/
    float: left !important;
    text-transform: uppercase;
    height: 56px;
    padding: 0 18px;
    padding-top: 18px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    /*text-Shadow: 0 0 1px rgba(255,255,255,0.8);*/
}
div.main_menu_item a{text-decoration: none;}
.main_menu_item_link:hover{
    
    color: white;
}
.main_menu_bg_right {
    clear: right;
    position: relative;
    float: right;
    height: 56px;
    z-index: 50;
    margin-top: 0px;
}
.main_menu_item_right {
    position: absolute;
    z-index: 9955;
    position: relative;
    float: right !important;
    height: 56px;
    /* cursor: pointer; */
}
.main_menu_item_right:hover{
    /*color: white;*/
    background-color: white;
    border-bottom:3px black solid;
}
.main_menu_item_right>div{
    margin-top: 5px;
}
.caret{
    margin-top: 5px;
}
.search_btn {
    position: relative;
    float: right;
    width: 56px;
    margin-top: 0px;
    height: 56px;
    background: #111 url('search.png') no-repeat center;
    cursor: pointer;
}
.search_bg {
    /*position: relative;*/
    position: absolute;
    top: 56px;
    right: 0;
    width: 360px;
    /*height: 46px;*/
    background: #111;
    /*display: none;*/
}
/*#main{
    clear: both;
    width: 80%;
    margin: auto;
}*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  body{
      background-color:  #fff;
  }  
tbody{
width: 50px;
    height: 70px;
    border: 1px #111 solid;
    margin: 5px;
}
.product_item {
    float: left;
    height: 280px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: #fff;
    
    text-align: center;
    overflow: hidden;
    border-collapse:separate;
}
.row{
        margin-right: -15px;
    margin-left: -15px;
}
.promotion_icon {
    position: absolute;
    width: 65px;
    height: 18px;
    background: url('kmai.png') no-repeat;
    background-size: cover;
    left: 0;
    top: 10px;
}
.product_img {
    float: left;
    width: 100%;
    height: 142px;
    /* margin: 0 2%; */
    overflow: hidden;
    margin: 12px 0 0 0;
}
#hot-products img {
    width: 100%;
}
#sidebar{
    padding-left: 20px;
}
#sidebar ul li{
    list-style-type:  none;
    list-style-image: none;
    
}
.home_title {
    position: relative;
    float: left;
    margin-top: 28px;
}
.new_product_title {
    position: absolute;
    z-index: 2;
    position: relative;
    float: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-Shadow: 0 0 1px rgba(88,80,80,0.2);
    padding-bottom: 5px;
    border-bottom: 3px solid #B61014;
    text-transform: uppercase;
    padding-left: 0xp;
    padding-right: 0px;
}
.new_product_title_line {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: #eee;
    bottom: 0;
}
.home_product_bg {
    background: #fff;
    margin-top: 26px;
    margin-bottom: 40px;
}
.gray_bg {
    /*background: #f9f9f9;*/
        background-image: linear-gradient(#79a06d, #79a06d);
}
.no_padding {
    padding: 0px;
}
div.home_title {padding: 0px;}
div.home_title> .new_product_title{padding-bottom: 5px;}
.product_name {
    float: left;
    width: 94%;
    margin-left: 3%;
    margin-top: 22px;
    font-size: 13px;
    color: #333;
    text-transform: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-Shadow: 0 0 1px rgba(51,51,51,0.1);
    height: 52px;
    word-wrap: break-word;
    line-height: 17px;
    overflow: hidden;
}
.product_id {
    float: left;
    width: 100%;
    color: #878787;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}
.product_price {
    float: left;
    width: 100%;
    color: #b61014;
    font-size: 15px;
    font-weight: 700;
}
//detail product
.page_content {
    margin-top: 16px;
}
.product_detail_img {
    position: relative;
    /* width: 368px; */
    width: 100%;
    /*height: 280px;*/
    text-align: center;
    display: flex;
    align-items: center;
/*    margin-top: 50px;*/
    
}
.product_detail_img img{
    width: 300px;
    margin: 0px;
}
.infofollow {
    display: block;
    overflow: hidden;
    margin: 10px;
    color: #333;
    font-size: 14px;
    line-height: 21px;
}
.infofollow span {
    display: block;
    overflow: hidden;
}
.product_gallery_bg {
    float: left;
    /* width: 368px; */
    height: 350px;
    margin-top: 50px;
    /* background: #aaaaaa; */
}
.product_detail{
    padding-top: 50px;
}
.product_detail_img img{
    margin:0px ;
}
.product_detail_info_bg {
    float: left;
    /*margin-top: 50px;*/
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 4px;
}
.product_detail_title {
    font-family: 'Open Sans', sans-serif;
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
}
.product_detail_ID {
    font-size: 13px;
}
.product_detail_price {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    text-Shadow: 0 0 1px #bbb;
}
.product_detail_price span {
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.product_add_detail_btn {
    float: left;
    width: 120px;
    height: 32px;
    background: url('../default/img/img_system/product_add_detail_btn.png') no-repeat 0 0;
    margin-top: 22px;
}
.product_add_btn.product_add_detail_btn:hover {
    background: url('../default/img/img_system/product_add_detail_btn.png') no-repeat 0 -32px;
}
.product_detail_info_title {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Open Sans', sans-serif;
}
.product_detail_info {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
}
.margin_right{
    margin-right: 10px;
}
.product_detail_info_mid{
    border-top: 1px solid #ddd;
    margin-top: 30px ;
    padding-bottom: 30px;
}
.product_detail_warranty {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Open Sans', sans-serif;
}
.promotion_bg {
    float: left;
    width: 95%;
    border: 1px dashed #B61013;
    margin-top: 15px;
    padding: 12px 2%;
    color: #B61013;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
    font-family: 'Open Sans', sans-serif;
}
.promotion {
    position: relative;
    display: block;
    overflow: visible;
    margin: 25px 0 20px;
    padding: 15px 10px 10px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.promotion .title {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 5px;
    background: #fff;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
.no_margin{
    margin: 0px;
}
.infofollow span:before {
    margin-right: 5px;
    color: #d8d8d8;
    content: '●';
    font-size: 12px;
}
/*phu kien*/
.promoacc {
    display: block;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}
.footer_bottom_bg {
    background: #111;
    height: 38px;
    margin: 0;
}
.footer_menu_bg {
    float: left;
    margin-top: 12px;
}

.footer_menu_bg span {
    float: left;
    width: 1px;
    background: #666;
    height: 10px;
    margin: 4px 8px 0 8px;
}
.footer_menu_bg a:hover {
    border-bottom: 1px dotted #fff;
}
.footer_menu_bg a {
    float: left;
    /* text-transform: uppercase; */
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-Shadow: 0 0 1px rgba(255,255,255,0.5);
    font-weight: 500;
    height: 19px;
}
.copy_right {
    float: right;
    color: #bbb;
    font-size: 11px;
    margin-top: 11px;
    text-align: right;
    font-family: 'Myriad Set Pro';
}
//gio hang
.yourcart_table {
    background: #fff;
    margin-top: 10px;
    color: #555;
    border-spacing: 1px;
    width: 100%;
    /* border: 1px dotted #ddd; */
}
.yourcart_table td {
    vertical-align: central;
    border: 1px solid #eee;
    padding: 10px;
}
.td_product_img {
    display: inline-block;
    min-width: 80px;
}
/*.img_xs{
    height: 60px;
    width: 60px;
}*/
.td_product_img img {
    width: 60px;
    height: auto;
}
.product_img_td{}
table.yourcart_table{margin-top: 20px}
td.product_img_td{
    width: 192px;
}
td.td_num input {
    text-align: center;
    width: 80px;
}
.yourcart_table_header td {
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 0;
    padding: 28px 15px;
    text-align: center;
    color: #b61014;
    font-family: "myriad_prosemibold" !important;
    text-transform: uppercase;
}
.yourcart_table td {
     font-weight: bold; 
    font-size: 14px;
    line-height: 0;
    padding: 28px 15px;
    text-align: center;
    color: #b61014;
    font-family: "myriad_prosemibold" !important;
    text-transform: uppercase;
}
.td_price, .td_sum {
    width: 120px;
    font-weight: bold;
    color: #b61014;
}
.td_total_title {
    text-align: right !important;
    color: #666 !important;
    font-size: 15px !important;
}
.td_total {
    text-align: right !important;
    color: #B61014;
    font-size: 15px !important;
}
///form contract
.contact_form {
    margin-top: 26px;
    margin-bottom: 26px;
}
.contact_form_content_bg{
    padding-top: 26px;
}
.contact_txt_bg {
    position: relative;
    float: left;
    width: 100%;
    height: 28px;
    border: 1px solid #eee;
    margin: 5px 0 0 0;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    font-size: 13px;
    font: 13px/20px 'Arial';
    background: #fff;
}
.contact_txt {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 24px;
    padding-top: 3px;
    margin-left: 6px;
    z-index: 100;
    font: 13px/20px 'Arial';
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
}
.contact_txta_bg {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    background: #fff;
    margin: 5px 0 0 0;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    font: 13px/20px 'Arial';
    color: #999999;
}
.contact_txta {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    width: 99%;
    height: 94px;
    margin-top: 2px;
    margin-left: 4px;
    z-index: 0;
    color: #666;
    font-weight: normal;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    resize: none;
    font: 13px/20px 'Arial';
}
.contact_button {
    position: relative;
    width: 100%;
    top: 16px;
    bottom: 28px;
}
.contact_button a {
    float: left;
    /* width: 95px; */
    width: 100%;
    height: 36px;
    background: #b61014;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
}
.contact_button a span {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 9px;
    /* text-shadow: 0px 0px 1px #fff; */
    font-size: 14px;
    text-transform: uppercase;
    font-family: "myriad_proregular" !important;
    cursor: pointer;
}
.cart_info_bg {
    float: left;
    padding-top: 28px;
    padding-right: 0;
    line-height: 28px;
}
.cart_info_bg span {
    font-size: 14px;
    line-height: 35px;
    color: #B61014;
    font-weight: bold;
}
.note_bg {
    float: left;
    width: 100%;
    margin-top: 8px;
    font-style: italic;
}
.note {
    color: #b61014;
}
.shopping_img {
    float: left;
    width: 100%;
    margin-top: 22px;
}
.promotion {
    position: relative;
    display: block;
    overflow: visible;
    margin: 25px 0 10px;
    padding: 30px 10px 10px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.promotion .title {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 5px;
    background: #fff;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
.product_detail_title .title{
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 5px;
    background: #fff;
    /*color: #333;*/
    /*font-weight: 600;*/
    /*font-size: 16px;*/
    
}
.listacc {
    display: block;
    overflow: hidden;
}
.listacc li img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.listacc li h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
}
.listacc li span {
    display: inline-block;
    font-size: 14px;
    color: #c0392b;
}


li.actacc button {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 15px;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d97f00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #f89406;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f76b1c),to(#f89406));
    background: -webkit-linear-gradient(top,#f89406,#f76b1c);
    background: -moz-linear-gradient(top,#f89406,#f76b1c);
    background: -ms-linear-gradient(top,#f89406,#f76b1c);
    background: -o-linear-gradient(top,#f89406,#f76b1c);
}
ul.listacc{list-style: none;}
/*thong so ki thuat*/
.para {
    display: block;
    overflow: hidden;
}
.parameter {
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
}
.parameter li {
    display: table;
    padding: 0;
    width: 100%;
    background: #fff;
}
.para li {
    display: block;
    overflow: hidden;
    padding: 0 0 12px 12px;
    font-size: 14px;
    color: #666;
    position: relative;
}
.comment{
    border-top: 1px solid #ddd;
    margin-top: 30px ;
}
footer{
    margin-top: 20px;
}
.navifooter {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.navifooter li {
    float: left;
    overflow: hidden;
    width: 25%;
}
.navifooter li a {
    display: block;
    padding: 8px 0;
    font-size: 14px;
    color: #288ad6;
}
ul, ol {
    list-style: none;
}
.navifooter li div {
    display: block;
    padding: 8px 0;
    font-size: 14px;
    color: #333;
}
.navifooter li .socail .fb {
    float: left;
    border-right: 1px solid #eee;
    margin-right: 10px;
    padding: 0 10px;
}
.icontgdd-fb {
    background-position: -130px -40px;
    width: 14px;
    height: 14px;
    background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V3/icon-fastbuy@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
    
    vertical-align: middle;
}
.navifooter li .socail .yt {
    float: left;
    padding: 0;
    
}
.icontgdd-yt {
    background-position: -150px -40px;
    width: 17px;
    height: 13px;
    background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V3/icon-fastbuy@1x.png);
    background-repeat: no-repeat;
    display: inline-block;
   
    vertical-align: middle;
}
.copy {
    display: block;
    overflow: hidden;
    background: #f8f8f8;
    padding: 10px 0;
}
.copyright {
    display: block;
    overflow: hidden;
    font-size: 10px;
    color: #999;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
footer>ul.navifooter{
    margin-top: 0px;
    padding-left: 25px;
}
.carousel-inner .item div {
    display: block;
    overflow: hidden;
    padding: 10px;
    background: #ededed;
}
.carousel-inner .item img{
    width: 600px;
}
.carousel-inner1 {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner1>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-inner1 .item img{
    width: 890px;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
.carousel-indicators li{ margin-bottom: 30px;}
.carousel-indicators li.active{ margin-bottom: 30px;}
.listcompare li{
    /*position: relative;*/
    /*margin-bottom: 20px;*/
}
.listcompare li.row{
    margin: 0px 0px 20px
}
.listcompare li img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}
.listcompare li h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-top: 0px;
}
.listcompare li strong {
    display: inline;
    font-size: 16px;
    color: #c0392b;
}
.listcompare li .desc span {
    display: block;
    overflow: hidden;
    font-size: 13px;
    color: #333;
    line-height: 21px;
}
.listcompare li .comparedetail {
    float: none;
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #288ad6;
    margin-left: 15px;
}