body {
    background: #ebeff2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.navibar_head{
    /*-webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);*/
    /*background: #ffffff;*/
    /*box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);*/
    left: 0px;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 999;

    background: #5e35b1;
    height: 70px;
}
.main{
    width: 100%;
}
.navibar_side{
    height: 1000px;
    background-color: white;
}
.text-muted {
    color: #98a6ad;
}
.navbar-inverse {
    -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    background: #ffffff;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    left: 0px;
    position: inherit;
    right: 0;
    top: 0px;
    z-index: 999;
    border-color: #555;//#5e35b1;
    background: #555;//#5e35b1;
    height: 70px;
}
.navbar-nav>li>a {
    line-height: 10px;
}
h3 a{
    color: #9d9d9d;
}
h3 a:hover{
    
    color: white;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.well{
    background-color: white;
}
.well-circle{
    border-radius: 50%;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    width: 170px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.profile{
    margin: auto;
    margin-top: 20px;
}
.container-fluid{
   margin-top: 10px;
}
span{
    margin-right: 10px;
}
.navbar-nav{
    line-height: 18px;
    font-size: 18px;
}
.side-menu #dropdown {
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}
.side-menu #dropdown .caret {
	float: right;
	margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
	float: right;
}
.side-menu #dropdown > a {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
	padding: 0;
	background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
	width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
	padding-left: 15px;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
	border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
	margin-left: -20px;
	padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
	margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
	padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
	border-bottom: 1px solid #e7e7e7;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background: transparent;
}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
        
}
/*tr th:nth-child(1){ width: 5%}
        tr th:nth-child(4){width: 35%}
        tr td:nth-child(1){ width: 5%}
        tr td:nth-child(4){width: 35%}*/
.margin50
{
    margin-top:50px
}
.dimentions-width, .dimentions-height
{
    width:90%;
    display:initial;
}
label{
    margin-top: 6px;
}
.edit{
    width: 70%;
    margin-left:10%;
    border-radius:5px;
    background-color:white ;
}
h2{
    text-align: center;
}
/*.mini-stat {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
}
.mini-stat-icon {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
}
.bg-info {
    background-color: #2b9ac9 !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mini-stat-info {
    padding-top: 2px;
    color: #eeeeee;
}
.text-dark {
    color: #797979 !important;
}
.text-right {
    text-align: right;
}
.mini-stat-info span {
    color: #ffffff;
    display: block;
    font-size: 24px;
    font-weight: 600;
}
.bx-shadow {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.bg-white {
    background-color: #ffffff !important;
}*/
.infocate{
    border: 1px whitesmoke solid;
    border-radius: 3px;
    
    height: 200px;
}
.blue{
    background-color: #5bc0de;
}
.green{
    background-color: #5cb85c;
}
.deepblue{
    background-color: #337ab7;
}
.orange{
    background-color: #f0ad4e;
}
.clor {
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
}
.infocate span{
    margin-right: 0px;
}