<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body style="background: #f9f9f9">  

        <ui:composition template="../common/template_product/temp.xhtml">
            <ui:define name="header">
                <ui:include src="../common/template_product/header.xhtml"></ui:include>
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <div class="container">
                        <div class="row">
                            <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <div class="new_product_title" >Giỏ hàng - Đặt hàng trực tuyến</div>
                                <div class="new_product_title_line no_padding" ></div>
                            </div>
                        </div>
                        <table width="100%" class="yourcart_table row">
                            <tbody>
                                <tr class="yourcart_table_header" >
                                    <td>Hình ảnh</td>
                                    <td>Tên sản phẩm</td>
                                    <td class="hidden-xs">Đơn giá</td>
                                    <td>Số lượng</td>
                                    <td class="hidden-xs">Thành tiền</td>
                                    <td class="hidden-xs" width="30">Xóa</td>
                                </tr>
                                <ui:repeat value="#{cartBean.listCart}" var="item">
                                    <tr>
                                        <td class="product_img_td">
                                            <div class="td_product_img">
                                                <img  src="../resources/default/img/img_system/img_thumbnail/#{item.mainImageURL}"/>
                                            </div>
                                        </td>
                                        <td class="product_name_td">
                                            
                                            <p class="cart_item_name product_name2 yourcart">#{item.name}</p>
                                            
                                            <!--<div class="cart_item_price visible-xs">Đơn giá: <span class="td_price"><?php echo $smart['price'] ?> VNĐ </span></div>-->
                                        </td>
                                        <td class="td_price hidden-xs" align="right">#{item.price} VNĐ </td>
                                       
                                        <td class="td_num">
                                            <h:commandButton  class="sub_num_btn" id="link1" action="#{cartBean.subQuantity()}">
                                                <f:param  name="id_product" value="#{item.id_product}"/>
                                                <!--<f:param name="quantity" value="{cartBean.quantity}"></f:param>-->
                                                <!--<f:ajax event="click" listener="{cartBean.subQuantity()}" execute="{item.id_product.toString()}" render="{item.id_product.toString()}"/>-->
                                            </h:commandButton>
                                            <!--<a class="sub_num_btn" onclick="decNumber({item.id_product})"></a>-->
                                            <input disabled="true" class="tx_num"  id="#{item.id_product}" value="#{item.quantity}"/>
                                            <h:commandButton class="add_num_btn" id="link2" action="#{cartBean.plusQuantity()}">
                                                <f:param name="id_product" value="#{item.id_product}"/>
                                                <!--<f:param name="quantity" value="{cartBean.quantity}"></f:param>-->
                                                <!--<f:ajax/>-->
                                            </h:commandButton>
                                            <div id="#{item.id_product}" style="margin-top: 20px;">#{item.introduce}</div>
                                            <!--<a class="add_num_btn" onclick="incNumber({item.id_product})"></a>-->
                                            <!--<h:inputText class="tx_num" id="{item.id_product}" value="{item.quantity}">-->
                                            <!--</h:inputText>-->    
                                            <!--<f:ajax event="valueChange" execute="{item.id_product}" render="outputId" />-->
                                            
                                            <!--<h:outputText id="outputId" value="{cartBean.numm}" />-->

                                            <!--<p id="{item.id_product}1" ></p>-->
                                            <a id="36136" class="cart_item_remove_btn visible-xs"></a>
                                        </td>
                                        <td class="td_sum hidden-xs" align="right">#{item.temp} VNĐ </td>
                                        <td class="">
                                            <!--<a id="{item.id_product}" onclick="invokeCommandButton()" class="cart_item_remove_btn"></a>-->
                                            <h:commandButton  id="link" class="btn btn-default" action="#{cartBean.deleteItem_in_Cart()}" value="xóa">
                                                <f:param name="id_product" value="#{item.id_product}"/>
<!--                                                <f:param name="quantity" value="{cartBean.quantity}"></f:param>
                                                <f:ajax/>-->
                                            </h:commandButton>
                                        </td>
                                        
                                    </tr>
                                </ui:repeat>
                                <tr class="yourcart_table_footer hidden-xs">
                                    <td colspan="3" class="td_total_title">Tổng cộng</td>
                                    <td class="td_total" colspan="3">#{cartBean.getSummary()} VNĐ</td>
                                </tr>
                                <tr class="yourcart_table_footer visible-xs">
                                    <td colspan="3">                                                     
                                        <span class="td_total">17.960.000 VNĐ </span>                             
                                        <div class="cart_total_title">Tổng cộng:</div> 
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                        
                        <div class="row">
                            <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="new_product_title">
                                    <div class="product_title">Thông tin đặt hàng</div>
                                </div>
                                <div class="new_product_title_line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="" >
                        <a href="#header" class="totop">
                        <span class="glyphicon glyphicon-arrow-up" ></span>
                        TOP</a>
                    </div>
                </h:form>
                <h:form>
                    <div class="container">
                        <div class="row">              
                            <div class="contact_form shopping_cart no_padding col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="contact_form_content_bg">                                      
                                    <div class="contact_txt_bg">

                                        <h:inputText  id="txt_contact_name" class="contact_txt" pt:placeholder="Họ và tên" value="#{orderBean.receiver}"/><label id="name_error_mes"></label>
                                    </div>
                                    <div class="contact_txt_bg">

                                        <h:inputText id="txt_contact_email" class="contact_txt" pt:placeholder="Email" value="#{orderBean.mail}"/><label id="email_error_mes"></label>
                                    </div>
                                    <div class="contact_txt_bg">

                                        <h:inputText  id="txt_contact_address" class="contact_txt" pt:placeholder="Địa chỉ" value="#{orderBean.address_order}"/><label id="address_error_mes"></label>
                                    </div>
                                    <div class="contact_txt_bg">

                                        <h:inputText  id="txt_contact_phone" class="contact_txt" pt:placeholder="Điện thoại" value="#{orderBean.tel_receiver}"/><label id="phone_error_mes"></label>
                                    </div>                            
                                    <div class="contact_txta_bg">

                                        <h:inputTextarea id="txt_contact_content" class="contact_txta" pt:placeholder="Ghi chú" />           
                                        <label id="content_error_mes"></label>
                                    </div>            
                                </div>                      

                                <div class="contact_button">
                                    <!--<a class="contact_button_send" ><span>Gởi đơn đặt hàng</span></a>
                                        <div class="button_disable"></div>-->
                                    <h:commandButton action="#{orderBean.insertOrdertable()}" value="Gởi đơn đặt hàng" class="contact_button_send"></h:commandButton>

                                </div>
                                <!--<h:commandButton action="{orderBean.insertOrdertable()}" value="Gởi đơn đặt hàng"></h:commandButton>-->
                            </div>
                            <div class="cart_info_bg col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <span>Cách thức mua hàng trực tuyến:</span><br/>
                                1. Khách hàng chọn sản phẩm, điền đầy đủ thông tin đặt hàng rồi gởi cho <strong>Mobizi</strong>.<br/>
                                2. <strong>Mobizi</strong> sẽ liên hệ với quý khách trong thời gian sớm nhất để xác nhận thông tin đặt hàng.<br/>
                                3. Nhân viên của <strong>Mobizi</strong> sẽ giao hàng đến tận nơi và nhận thanh toán khi giao hàng.<br/>
                                <div class="note_bg">
                                    <strong class="note">Lưu ý:</strong> <strong>Mobizi</strong> chỉ chấp nhận những đơn đặt hàng cung cấp thông tin chính xác về địa chỉ, số điện thoại, email. <strong>Mobizi</strong> cam kết tất cả hàng hóa gởi đến quý khách đều là hàng mới 100%.
                                </div>
                                <div class="shopping_img">
                                    <img src="../../resources/default/img/img_system/shopping.gif"/>
                                </div>                                                                               
                            </div>           
                        </div>
                        <div style="margin-top: 50px;"></div>
                    </div>
                </h:form>
                <script type="text/javascript">
                                    var error = '';
                                    function incNumber(id) {
                                       
                                    var i = parseInt(document.getElementById(id).value);
                                            if (i &lt; 10) {
                                    document.getElementById(id).value = i + 1;
                                    } else if (i &gt; 10) {
                                    var k = document.getElementById(id).value + '1';
                                            error = 'Quá số lượng cho phép. sl &le; 10';
                                            document.getElementById(k).innerHTML = error;
                                    }
                                 
                                    }
                            function decNumber(id) {
                            var i = parseInt(document.getElementById(id).value);
                                    if (i &gt; 1) {

                            document.getElementById(id).value = i - 1;
                            } else if (i &lt; 0) {
                            var k = document.getElementById(id).value + '1';
                                    error = 'Số lượng phải &gt; 0';
                                    document.getElementById(k).innerHTML = error;
                            }

                            }
                            function invokeCommandButton() {
//                              var jsfCommandButton = document.getElementById("link");
//                                  jsfCommandButton.click();
                                $("#link").click();
                            }
                        </script>
            </ui:define>
            <ui:define name="footer">
                <ui:include src="../common/template_product/footer.xhtml"></ui:include>
            </ui:define>
        </ui:composition>

    </h:body>
</html>