<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Change password</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/list_table_style.css" type="text/css"/>  
        <!--<title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>
        <ui:composition template="../common/template_member/member_page_template.xhtml">
            <ui:define name="content">
                
                    <ui:include src="admin/components/change_password.xhtml"></ui:include>
                
            </ui:define>
        </ui:composition>
    </h:body>
</html>


