<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body style="background-color: #fff">  
        <h:form>
            <ui:composition template="../common/template_product/temp.xhtml">
                <ui:define name="header">
                    <ui:include src="../common/template_product/header.xhtml"></ui:include>
                </ui:define>
                <ui:define name="content">
            <div class="row">
                <br/>
                <div id="myCarousel" class="carousel slide col-md-8" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="../resources/default/img/img_system/banner1.png" alt="Chania"  />
                        </div>

                        <div class="item">
                            <img src="../resources/default/img/img_system/banner2.jpg" alt="Chania"  />
                        </div>

                        <div class="item">
                            <img src="../resources/default/img/img_system/banner3.jpg" alt="Flower"  />
                        </div>

                        <div class="item">
                            <img src="../resources/default/img/img_system/banner4.jpg" alt="Flower" />
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <img src="../resources/default/img/img_system/1d1.png" height="392"/>
                </div>
            </div>
            <!--<div class="container" >-->
            <div class="row" style="width: 1194px;margin: auto;">
                <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="new_product_title" >Điện thoại hot</div>
                    <div class="new_product_title_line no_padding" ></div>
                </div>
            </div>
            <div class="" >
                <a href="#header" class="totop">
                    <span class="glyphicon glyphicon-arrow-up" ></span>
                    TOP</a>
            </div>
            <div class="mobilecate" >
                <ui:repeat value="#{productBean.getHot_by_CategoryBean(10, 0)}" var="product">
                    <div class="cell ">
                        <!--<a href="http://localhost:8084/mobizi/faces/views/detailproduct.xhtml?detail_id={product.id_product}">-->
                            
                            <img src="../resources/default/img/img_system/img_thumbnail/#{product.mainImageURL}" width="142"/>
                            <h3>#{product.name}</h3>

                            <strong>#{product.price} VNĐ</strong>   
                            <div class="km">
                                <span>Tặng Phiếu mua...</span>                            
                                <span>Tặng Dock sạc</span>                            
                                <span>Giảm ngay 5%...</span>                            
                            </div>
                        <!--</a>-->
                        <h:form>
                        <h:commandButton class="buy" action="#{cartBean.insertCart()}" value="Mua">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        <h:commandButton class="xem" action="#{productBean.detailProduct()}" value="xem">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        </h:form>
                            <label class="gift">Trả góp <br/><b>#{product.price_promotion}%</b></label>
                    </div>

                </ui:repeat>
            </div>
            <div class="row" style="width: 1194px;margin: auto;">
                <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="new_product_title" >Máy tính bảng hot</div>
                    <div class="new_product_title_line no_padding" ></div>
                </div>
            </div>
            <div class="mobilecate" >
                <ui:repeat value="#{productBean.getHot_by_CategoryBean(10, 2)}" var="product">
                    <div class="cell ">
                        <!--<a href="detailproduct.xhtml?detail_id={product.id_product}">-->
                            <img src="../resources/default/img/img_system/img_thumbnail/#{product.mainImageURL}" width="142"/>
                            <h3>#{product.name}</h3>

                            <strong>#{product.price} VNĐ</strong>   
                            <div class="km">
                                <span>Tặng Phiếu mua...</span>                            
                                <span>Tặng Dock sạc</span>                            
                                <span>Giảm ngay 5%...</span>                            
                            </div>
                        <!--</a>-->
                        <h:form>
                        <h:commandButton class="buy" action="#{cartBean.insertCart()}" value="Mua">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        <h:commandButton class="xem" action="#{productBean.detailProduct()}" value="xem">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        </h:form>
                        <label class="gift">Trả góp <br/><b>#{product.price_promotion}%</b></label>
                    </div>

                </ui:repeat>
            </div>      
            <div class="row" style="width: 1194px;margin: auto;">
                <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="new_product_title" >Laptop hot</div>
                    <div class="new_product_title_line no_padding" ></div>
                </div>
            </div>
            <div class="mobilecate" >
                <ui:repeat value="#{productBean.getHot_by_CategoryBean(10, 1)}" var="product">
                    <div class="cell ">
                        <!--<a href="detailproduct.xhtml?detail_id={product.id_product}">-->
                            <img src="../resources/default/img/img_system/img_thumbnail/#{product.mainImageURL}" width="142"/>
                            <h3>#{product.name}</h3>

                            <strong>#{product.price} VNĐ</strong>   
                            <div class="km">
                                <span>Tặng Phiếu mua...</span>                            
                                <span>Tặng Dock sạc</span>                            
                                <span>Giảm ngay 5%...</span>                            
                            </div>
                        <!--</a>-->
                        <h:form>
                        <h:commandButton class="buy" action="#{cartBean.insertCart()}" value="Mua">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        <h:commandButton class="xem" action="#{productBean.detailProduct()}" value="xem">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        </h:form>
                        <label class="gift">Trả góp <br/><b>#{product.price_promotion}%</b></label>
                    </div>

                </ui:repeat>
            </div>      
                </ui:define>
                <ui:define name="footer">
                    <ui:include src="../common/template_product/footer.xhtml"></ui:include>
                </ui:define>
            <!--</div>-->
            </ui:composition>
            
        </h:form>
    </h:body>
</html>

