<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Mobizi</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_login.css" type="text/css"/>    
        <style>
            body{


                background-image: linear-gradient(#79a06d, #79a06d); 
            }

            #box{
                border: 1px solid rgb(200, 200, 200);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
                background: rgba(200, 200, 200, 0.1);
                border-radius: 4px;
                top:50px;
            }

            h2{
                text-align:center;
                color:#fff;
            }
            ul{
                list-style-image: none;
            }
            ul li{
                float: left;
                list-style-type: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">
        <div class="container ">
                <div class="form-group" style="color: #337ab7; font-size: 30px;padding-left: 200px">
                    <strong> LOGIN </strong>
                </div>
                <br/>

                <div class="form-group">
                    <h:outputLabel class="pull-left" for="username" style="padding-top: 7px"> User name :</h:outputLabel>
                    <div class="pull-left  col-sm-4" style="padding-right: 40px" >
                        <h:inputText value="#{loginBean.username}" class="form-control" id="username" pt:placeholder="Enter user name"/>
                    </div>
                    <br/>
                </div>
                <br/>
                <div class="form-group">
                    <h:outputLabel class="pull-left" for="password" style="padding-top: 7px"> Password :</h:outputLabel>
                    <div class="pull-left col-sm-4" style="padding-left: 20px;padding-right: 35px">
                        <h:inputSecret value="#{loginBean.password}" class="form-control" id="password" pt:placeholder="Enter password"/>
                    </div>
                    <br/>
                </div>
                <br/>
                <div class="form-group">        
                    <div class=" col-sm-offset-2 col-sm-1 " style="padding-left: 10px">
                        <h:commandButton value="Submit" action="#{loginBean.login()}" class="btn btn-primary " >
                        </h:commandButton>
                    </div>
                </div>
                <br/>
                <h5 style="color: red;"><i>#{loginBean.error}</i></h5>
            </div>
        </h:form>
    </h:body>
</html>

