<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Test Ajax</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="ID: "/>
                <h:inputText id="inputID" value="#{userBean.id}" >
                    <f:ajax event="keyup" render="inputName" execute="@this" />
                </h:inputText>
                <h:outputText value="Name: "/>
                <h:inputText id="inputName" value="#{userBean.name}"/>
                <!-- sử dụng cái này để hiển thị tổng giá tiền-->
            </h:panelGrid>
        </h:form>
    </h:body>
</html>
