<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div class="container">
            <img alt="page not found" src="../resources/default/img/img_system/pagenotfound.jpg"/>
            <div class="info">
                <p>Click <a href="http://localhost:8084/mobizi/faces/views/homepage_1.xhtml">Here</a> to go back <strong>Homepage</strong></p>
            </div>
        </div>
    </h:body>
</html>

