<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../resources/default/js/bootstrap.min.js"></script>
        <style>
            body{
                background-color: #525252;
            }
        </style>
    </h:head>
    <h:body>  
        <h:form>
            <div class="container">
                <div class="row">
                    <div class=" col-md-offset-4 col col-md-5">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="text-align: center">
                                    Sign Up
                                </h4>
                            </div>
                            <div class="modal-body">
                                <!--                                <form novalidate="novalidate" id="formSignUp">-->
                                <div id="errorSignUp">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <h:inputText value="#{registerBean.username}" pt:placeholder="Username" class="form-control" />

                                    </div>
                                </div>
                                <span style="color: red">#{registerBean.erros}</span>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <h:inputSecret value="#{registerBean.password}" pt:placeholder="Password" class="form-control"/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="password">Confirm password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <h:inputSecret value="#{registerBean.password1}" pt:placeholder="Re-Password" class="form-control"/>
                                    </div>
                                </div>
                                <span style="color: red">#{registerBean.erros1}</span>
                                <div class="form-group">
                                    <label class="control-label" for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <h:inputText  value="#{registerBean.mail}" pt:placeholder="email@example.com" class="form-control" />
                                    </div>
                                </div>
                                <span style="color: red">#{registerBean.erros2}</span>
<!--                                <div class="checkbox">
                                    <label>
                                        <input id="term" type="checkbox" value=""/>
                                        I have read and accepted  <a target="_blank" href="#">the terms and conditions of use.</a>
                                    </label>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-md-12" style="margin: 10px 0px;">
                                        <h:commandButton class="btn btn-md  btn-primary center-block" action="#{registerBean.register()}" value="Sign Up">
                                        </h:commandButton>
                                    </div>
                                </div>
                                <span style="color: red">#{registerBean.errornull}</span>
                                <!--</form>-->
                            </div>
                            <div class="modal-footer">
                                <small>Already a member? <a class="alreadySignUp" href="login.xhtml">Login here</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>