<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body style="background: #f9f9f9">  

        <ui:composition template="../common/template_product/temp.xhtml">
            <ui:define name="header">
                <ui:include src="../common/template_product/header.xhtml"></ui:include>
            </ui:define>
            <ui:define name="content">
                
                <div class="well">
                    <!--<ui:repeat value="{orderBean.order}" var="item">-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="user">Người đặt</label>  
                        <div class="col-md-8">
                            <h:outputText id="user" value="#{orderBean.receiver}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dchi">Địa chỉ</label>  
                        <div class="col-md-8">
                            <h:outputText id="dchi" value="#{orderBean.address_order}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sdt">Sdt</label>  
                        <div class="col-md-8">
                            <h:outputText id="sdt" value="#{orderBean.tel_receiver}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nd">Nội dung</label>  
                        <div class="col-md-8">
                            <h:outputText id="nd" value="#{orderBean.description}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tt">Tổng tiền</label>  
                        <div class="col-md-8">
                            <h:outputText id="tt" value="#{orderBean.order_total}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ng">Ngày order</label>  
                        <div class="col-md-8">
                            <h:outputText id="ng" value="#{orderBean.order_date}"  pt:placeholder="Email" class="form-control input-md"/>
                            
                        </div>
                    </div>
                    
                    <!--</ui:repeat>-->
                </div>
                
            </ui:define>
            <ui:define name="footer">
                <ui:include src="../common/template_product/footer.xhtml"></ui:include>
            </ui:define>
        </ui:composition>

    </h:body>
</html>