<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../resources/custom/css_homepage_1.css" type="text/css"/>  
        <title>:: Mobizi Mobile &amp; Computer :: | Mobizi.vn</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="../resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="../resources/default/js/bootstrap.min.js"></script>
    </h:head>
    <h:body>  
        <h:form>
        <ui:composition template="../common/template_product/temp.xhtml">
            
            <ui:define name="header">
                <ui:include src="../common/template_product/header.xhtml"></ui:include>
            </ui:define>
            <ui:define name="content">
            <div class="container" >
                <div class="row">
                    <div class="home_title no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="new_product_title" >#{productBean.cate}</div>
                        <div class="new_product_title_line no_padding" ></div>
                    </div>
                </div>
                <div class="home_product_bg row">
                    <ui:repeat value="#{productBean.listproductbycate}" var="product">
                        <div class="col-md-2 product_item">
                            <div class="product_img">
                                <!--<a href="detailproduct.xhtml?detail_id={product.id_product}">--> 
                                <img src="../resources/default/img/img_system/img_thumbnail/#{product.mainImageURL}" width="142"/>
                                    <!--</a>-->
                            </div>
                            <div class="product_info">
                                <a href="#" class="product_name">#{product.name}</a>
                                <div class="product_id">
                                    Mã sản phẩm: #{product.id_product}                        
                                </div>
                                <div class="product_price">#{product.price}<span>  VNĐ</span></div>

                            </div>
                            <h:form>
                                <h:commandButton class="buy" style="bottom: 10px;left: 30px;" action="#{cartBean.insertCart()}" value="Mua">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        <h:commandButton class="xem" style="bottom: 10px; right: 30px;" action="#{productBean.detailProduct()}" value="xem">
                            <f:param name="id" value="#{product.id_product}"/>
                        </h:commandButton>
                        </h:form>
                        </div>

                    </ui:repeat>
                    <div class="" >
                <a href="#header" class="totop">
                    <span class="glyphicon glyphicon-arrow-up" ></span>
                    TOP</a>
            </div>
                </div>                
            </div>
            </ui:define>
            <ui:define name="footer">
                <ui:include src="../common/template_product/footer.xhtml"></ui:include>
            </ui:define>
        </ui:composition>
        </h:form>
    </h:body>
</html>
