<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title><meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/style1.css"/>
        
    </h:head>
    <h:body>
        <ui:composition template="../../common/template_admin/admin_page_template.xhtml">
            <ui:define name="content">
                <ui:include src="components/change_profile.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
