<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Mobizi</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../../resources/default/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../resources/custom/css_login.css" type="text/css"/>    
        <style>
            body{


                background-image: linear-gradient(#79a06d, #79a06d); 
            }

            #box{
                border: 1px solid rgb(200, 200, 200);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
                background: rgba(200, 200, 200, 0.1);
                border-radius: 4px;
                top:50px;
            }

            h2{
                text-align:center;
                color:#fff;
            }
            ul{
                list-style-image: none;
            }
            ul li{
                float: left;
                list-style-type: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form class="form-horizontal">
            <div class="container-fluid">
                <div class="row-fluid" >
                    <div class="col-md-offset-4 col-md-4" id="box">
                        <h2>Login</h2>
                        <hr/>                       
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <h:inputText value="#{userBean.username}" pt:placeholder="Username" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <h:inputSecret value="#{userBean.password}" pt:placeholder="Password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="margin: 10px 0px;">
                                <h:commandButton class="btn btn-md btn-danger center-block" action="#{userBean.login_Admin()}" value="Login"></h:commandButton>

                            </div>
                            
                        </div>
                        
                        <h5 style="color: red;"><i>#{userBean.error}</i></h5>
                        
                    </div> 
                </div>
            </div>
        </h:form>
    </h:body>
</html>

