<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/default/css/bootstrap.min.css"/>
        <script src="http://localhost:8084/mobizi/faces/resources/default/jquery/jquery-1.11.3.min.js"></script>
        <script src="http://localhost:8084/mobizi/faces/resources/default/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://localhost:8084/mobizi/faces/resources/custom/style1.css"/>
    </h:head>
    <h:body>
        <ui:composition>

            <div class="col-md-12 text-left">
                <h1 class="text-center">
                    List all Product
                </h1>
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#sectionA">Section A</a></li>
                    <!--<li><a href="#sectionB">Section B</a></li>-->
                    <li class="dropdown ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#dropdown1">Dropdown1</a></li>
                            <li><a href="#dropdown2">Dropdown2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown1 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#dropdown11">Dropdown11</a></li>
                            <li><a href="#dropdown21">Dropdown21</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown11 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#dropdown11">Dropdown111</a></li>
                            <li><a href="#dropdown21">Dropdown211</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown111 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#dropdown11">Dropdown1111</a></li>
                            <li><a href="#dropdown21">Dropdown2111</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <h3>Section A</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <th class="numeric">ID</th>
                                        <th class="numeric">Name</th>
                                        <th class="numeric">Price</th>
                                        <th class="numeric">Promotion</th>
                                        <th class="numeric">Quantity</th>
                                        <th class="numeric">Status</th>
                                        <th class="numeric">Views</th>
                                        <th class="numeric">Sold quantity</th>
                                        <th class="numeric">Action</th>                                                                                       
                                    </tr>                                                                        
                                    <ui:repeat value="#{productBean.getAllProductByCategory('dienthoai')}" var="item">
                                        <tr>
                                            <td data-title="ID">#{item.id_product}</td>
                                            <td data-title="Name">#{item.name}</td>
                                            <td data-title="Price" class="numeric">#{item.price}</td>
                                            <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                            <td data-title="Status" class="numeric">#{item.status}</td>
                                            <td data-title="Views" class="numeric">#{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="#{productBean.delete_Product()}" value="xóa">
                                                    <f:param name="id" value="#{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                    <f:param name="id1" value="#{item.id_product}" />
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
<!--                    <div id="sectionB" class="tab-pane fade">
                        <h3>Section B</h3>
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <th class="numeric">ID</th>
                                            <th class="numeric">Name</th>
                                            <th class="numeric">Price</th>
                                            <th class="numeric">Promotion</th>
                                            <th class="numeric">Quantity</th>
                                            <th class="numeric">Status</th>
                                            <th class="numeric">Views</th>
                                            <th class="numeric">Sold quantity</th>
                                            <th class="numeric">Action</th>                                                                                       
                                        </tr>                                                                                        
                                    </tr>                                                                        
                                    <ui:repeat value="{productBean.getAllProductByCategory('laptop')}" var="item">
                                        <tr>
                                            <td data-title="ID">{item.id_product}</td>
                                            <td data-title="Name">{item.name}</td>
                                            <td data-title="Price" class="numeric">{item.price}</td>
                                            <td data-title="Promotion" class="numeric">{item.price_promotion}</td>
                                            <td data-title="Quantity" class="numeric">{item.quantity}</td>
                                            <td data-title="Status" class="numeric">{item.status}</td>
                                            <td data-title="Views" class="numeric{item.views}</td>
                                            <td data-title="Sold quantity" class="numeric">{item.soldquantity}</td>
                                            <td data-title="Action" class="numeric">
                                                <h:commandButton action="{adminBean.delete_order()}" value="xóa">
                                                    <f:param name="id" value="{item.id_product}"/>
                                                </h:commandButton>
                                                <h:commandButton action="{adminBean.approval_Order()}" value="sửa">
                                                    <f:param name="id1" value="{item.id_product}" />
                                                </h:commandButton>
                                            </td>
                                        </tr>
                                    </ui:repeat>                                       
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                    <h:form>
                        <div id="dropdown1" class="tab-pane fade ">
                            <h3>Dropdown 1</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(1)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown2" class="tab-pane fade">
                            <h3>Dropdown 2</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(7)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown11" class="tab-pane fade ">
                            <h3>Dropdown 11</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(1)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown21" class="tab-pane fade">
                            <h3>Dropdown 21</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(7)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown111" class="tab-pane fade ">
                            <h3>Dropdown 11</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(1)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown211" class="tab-pane fade">
                            <h3>Dropdown 21</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(7)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown1111" class="tab-pane fade ">
                            <h3>Dropdown 11</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(1)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="dropdown2111" class="tab-pane fade">
                            <h3>Dropdown 21</h3>
                            <div id="no-more-tables">
                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                    <tbody>
                                        <tr>
                                            <tr>
                                                <th class="numeric">ID</th>
                                                <th class="numeric">Name</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">Promotion</th>
                                                <th class="numeric">Quantity</th>
                                                <th class="numeric">Status</th>
                                                <th class="numeric">Views</th>
                                                <th class="numeric">Sold quantity</th>
                                                <th class="numeric">Action</th>                                                                                       
                                            </tr>                                                                                        
                                        </tr>                                                                        
                                        <ui:repeat value="#{productBean.getAllProduct_By_SubCategory(7)}" var="item">
                                            <tr>
                                                <td data-title="ID">#{item.id_product}</td>
                                                <td data-title="Name">#{item.name}</td>
                                                <td data-title="Price" class="numeric">#{item.price}</td>
                                                <td data-title="Promotion" class="numeric">#{item.price_promotion}</td>
                                                <td data-title="Quantity" class="numeric">#{item.quantity}</td>
                                                <td data-title="Status" class="numeric">#{item.status}</td>
                                                <td data-title="Views" class="numeric">#{item.views}</td>
                                                <td data-title="Sold quantity" class="numeric">#{item.soldquantity}</td>
                                                <td data-title="Action" class="numeric">
                                                    <h:commandButton action="#{adminBean.delete_order()}" value="xóa">
                                                        <f:param name="id" value="#{item.id_product}"/>
                                                    </h:commandButton>
                                                    <h:commandButton action="#{adminBean.approval_Order()}" value="sửa">
                                                        <f:param name="id1" value="#{item.id_product}" />
                                                    </h:commandButton>
                                                </td>
                                            </tr>
                                        </ui:repeat>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </h:form>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#myTab a").click(function (e) {
                            e.preventDefault();
                            $(this).tab('show');
                        });
                    });
                </script>
            </div>
        </ui:composition>
    </h:body>
</html>

