<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--
        //count number of order
    public Integer count_Order() throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        OrderDao dao=new OrderDao();
        return dao.list_All_Order_Wait().size();
    }
    
    //delete order
    public void delete_order() throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        HttpServletRequest request=(HttpServletRequest)FacesContext.getCurrentInstance().getExternalContext().getRequest();
        String orderID = request.getParameter("id");
//        Map<String, String> map = FacesContext.getCurrentInstance().getExternalContext().getRequestParameterMap();
//        Integer ID = Integer.valueOf(map.get("id"));
        OrderDao dao=new OrderDao();
        dao.delete_Order_by_id(Integer.parseInt(orderID));
    }
    
    //duyet order
    
    public void approval_Order() throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        HttpServletRequest request=(HttpServletRequest)FacesContext.getCurrentInstance().getExternalContext().getRequest();
        String orderID = request.getParameter("id1");
        OrderDao dao=new OrderDao();
        dao.approval_Order(Integer.parseInt(orderID));
    }
        
         //delete order by id
    public void delete_Order_by_id(Integer id) throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        try(Connection conn=ConnectionFactory.getConnection()){
        String sql="DELETE FROM ordertable WHERE id_order="+id;
            try(PreparedStatement ps=conn.prepareStatement(sql)){
                ps.executeUpdate();
            }
        }
    }
    
    //duyet order
    public void approval_Order(Integer id) throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        try(Connection conn=ConnectionFactory.getConnection()){
        String sql="UPDATE ordertable SET stat='checked' WHERE id_order="+id;
        System.out.print("xxxxxxxxxxxxxxxxx: " + sql);
            try(PreparedStatement ps=conn.prepareStatement(sql)){
                ps.executeUpdate();
            }
        }
    }
        
        //duyet order
    
    public void approval_Order() throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
        HttpServletRequest request=(HttpServletRequest)FacesContext.getCurrentInstance().getExternalContext().getRequest();
        String orderID = request.getParameter("id1");
        OrderDao dao=new OrderDao();
        dao.approval_Order(Integer.parseInt(orderID));
    }
        
         //duyet order
//    public void approval_Order(Integer id) throws SQLException, ClassNotFoundException, InstantiationException, IllegalAccessException{
//        try(Connection conn=ConnectionFactory.getConnection()){
//        String sql="UPDATE ordertable SET stat='checked' WHERE id_order="+id;
//        System.out.print("xxxxxxxxxxxxxxxxx: " + sql);
//            try(PreparedStatement ps=conn.prepareStatement(sql)){
//                ps.executeUpdate();
//            }
//        }
//    }
        
        <div class="form-group">
                                <div class="col-md-12">

                                    <div> 
                                        <ul>
                                            <li class="col-md-0"> <input type="checkbox" class="checkbox" /></li>
                                            <li class="col-md-offset-1" style="padding-top: 3px;margin-left: 10px;"><span>Remember me</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>-->
<!--        <script type="text/javascript">
                                    var error = '';
                                    function incNumber(id) {
                                       
                                    var i = parseInt(document.getElementById(id).value);
                                            if (i &lt; 10) {
                                    document.getElementById(id).value = i + 1;
                                    } else if (i &gt; 10) {
                                    var k = document.getElementById(id).value + '1';
                                            error = 'Quá số lượng cho phép. sl &le; 10';
                                            document.getElementById(k).innerHTML = error;
                                    }
                                 
                                    }
                            function decNumber(id) {
                            var i = parseInt(document.getElementById(id).value);
                                    if (i &gt; 1) {

                            document.getElementById(id).value = i - 1;
                            } else if (i &lt; 0) {
                            var k = document.getElementById(id).value + '1';
                                    error = 'Số lượng phải &gt; 0';
                                    document.getElementById(k).innerHTML = error;
                            }

                            }
                            function invokeCommandButton() {
//                              var jsfCommandButton = document.getElementById("link");
//                                  jsfCommandButton.click();
                                $("#link").click();
                            }
                        </script>-->
    </h:body>
</html>

